<% include ../common_header.html %>
<link rel="stylesheet" href="/resource/css/tasks.css"/>
<section id="container" ng-controller="doTaskCtrl">
    <% include ./buyer_nav.html %>
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <section class="panel">
                <header class="panel-heading">
                    <span>{{doTask.doTaskTerminal=='pc'?'电脑端':'手机端'}}</span>做任务
                    <span class="pull-right" ng-if="doTask.doTaskTerminal=='phone'">
                        此任务为手机刷单任务，在手机刷单之前请 <span class="error">先用电脑找到刷单商品</span>并加入购物车，之后 <span class="error">使用手机下单并付款</span>
                    </span>
                </header>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="alert alert-warning">
                                <p>接手任务的买号：<span class="error">{{doTask.doTaskAccountName}}</span>({{statusMap.platform[doTask.taskPlatform]}})，接手1个任务，需要在 <span class="error">{{doTask.doTaskDeadline}}</span>前完成(24小时内)</p>
                                <p>请按时完成任务，否则每个任务扣除：<span class="error">1</span>金币</p>
                                <p>本次1个任务完成后将获得：<span class="error">{{doTask.doTaskFee}}</span>金币</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <table cellpadding="0" cellspacing="0" border="0" class="display table table-bordered">
                                <thead>
                                <tr>
                                    <th>商家</th>
                                    <th>购买件数</th>
                                    <th>垫付资金</th>
                                    <th>佣金</th>
                                    <th>接手时间</th>
                                    <th>倒计时</th>
                                    <th>状态</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>{{doTask.taskUserName}}</td>
                                    <td>{{doTask.taskCount}}件</td>
                                    <td>{{doTask.taskTotalMoney}}元</td>
                                    <td>{{doTask.taskFee}} <span class="error" ng-if="doTask.taskIsExtendFee">/{{doTask.taskExtendFee}}</span>金币</td>
                                    <td>{{doTask.doTaskCreateTime | date: 'yyyy-MM-dd HH:mm'}}</td>
                                    <td>{{doTask.doTaskCountdown}}小时</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
            <section class="panel">
                <header class="panel-heading">
                    任务进度
                </header>
                <div class="panel-body">
                    <div class="row" style="margin: 30px ;">
                        <div class="col-lg-10 col-lg-offset-1">
                            <div class="stepWrapper mt30">
                                <div class="stepWaiting"
                                     style="position:absolute;top:0;left:-5px;">
                                    <div ng-class="step==1?'stepOn':''">1</div>
                                    <div class="caption"
                                         style="width:72px;margin-left:-36px;">
                                        搜索商品
                                    </div>
                                </div>
                                <div class="stepWaiting"
                                     style="margin-left:16%;">
                                    <div ng-class="step==2?'stepOn':''">2</div>
                                    <div class="caption"
                                         style="width:72px;margin-left:-36px;">
                                        核对商品
                                    </div>
                                </div>
                                <div class="stepWaiting"
                                     style="margin-left:16%;">
                                    <div ng-class="step==3?'stepOn':''">3</div>
                                    <div class="caption"
                                         style="width:72px;margin-left:-36px;">
                                        浏览店铺及在线客服聊天
                                    </div>
                                </div>
                                <div class="stepWaiting"
                                     style="margin-left:16%;">
                                    <div ng-class="step==4?'stepOn':''">4</div>
                                    <div class="caption"
                                         style="width:60px;margin-left:-30px;">
                                        放入购物车
                                    </div>
                                </div>
                                <div class="stepWaiting"
                                     style="margin-left:16%;">
                                    <div ng-class="step==5?'stepOn':''">5</div>
                                    <div class="caption"
                                         style="width:60px;margin-left:-30px;">
                                        付款
                                    </div>
                                </div>
                                <div class="stepWaiting"
                                     style="position:absolute;top:0;right:-5px;">
                                    <div ng-class="step==6?'stepOn':''">6</div>
                                    <div class="caption"
                                         style="width:48px;margin-left:-24px;">
                                        填写订单信息
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="panel" ng-if="step==1">
                <header class="panel-heading">
                    模拟正常购物流程，通过搜索商品关键字，锁定商品大致范围
                    <span class="pull-right">任务编号：{{doTask.doTaskTaskId}} - {{doTaskId}}</span>
                </header>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <p>
                                请访问淘宝|天猫，登录帐号：<span class="error">{{doTask.doTaskAccountName}}</span>，并刷新淘宝|天猫页面确认帐号是否已登录
                            </p>
                            <p>
                                1.请进入淘宝页面搜索关键字：<span class="error">{{doTask.doTaskKeyword}}</span>
                            </p>
                            <p ng-if="doTask.taskTag1 || doTask.taskTag2">2.搜索结果页面筛选商品分类： <span class="error">{{doTask.taskTag1}} {{doTask.taskTag2}}</span></p>
                            <p ng-if="!doTask.taskTag1 && !doTask.taskTag2">2.搜索结果页面筛选商品分类： <span class="error">无需筛选分类</span></p>
                            <p>3.筛选价格区间为：
                                <span class="error" ng-if="!doTask.taskPriceStart">无需筛选价格区间</span>
                                <span class="error" ng-if="doTask.taskPriceStart">{{doTask.taskPriceStart}}-{{doTask.taskPriceEnd}}</span> ,
                                筛选商品所在地为：
                                <span class="error">
                                    {{doTask.taskPosition}}
                                </span>
                                </p>
                            <p class="error">4.下单提示:{{doTask.taskTips || '无'}}</p>
                        </div>
                        <div class="col-lg-10 col-lg-offset-1">
                            <h3>温馨提示：此任务下单付款时注意：</h3>
                            <p>1、此任务需要拍 <span class="error">{{doTask.taskCount}}</span> 个商品</p>
                            <p>2、此任务下单时无需订单备注</p>
                            <p>3、此任务要求必须用 <span class="error">{{doTask.doTaskTerminal=='pc'?'电脑':'手机'}}</span> 下单付款</p>
                        </div>
                    </div>
                    <div class="row" style="text-align: center">
                        <button class="btn btn-info" ng-click="nextStep(2)">下一步</button>
                    </div>
                </div>
            </section>
            <section class="panel" ng-if="step==2">
                <header class="panel-heading">
                    根据商品图和价格提示找到正确商品，并核对商品链接
                    <span class="pull-right">任务编号：{{doTask.doTaskTaskId}} - {{doTaskId}}</span>
                </header>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <p>
                                1.找到卖家为：<span class="error">{{doTask.taskShopName.slice(0, 3)}}*********</span>
                            </p>
                            <p>
                                商品图: <br/>
                                <img ng-if="doTask.taobaoImage" ng-src="{{doTask.taobaoImage}}" alt="" width="500"/>
                                <img ng-if="doTask.tmallImage" ng-src="{{doTask.tmallImage}}" alt="" width="500"/>
                            </p>
                            <p>2.核对商品链接：</p>
                            <p>
                                <input placeholder="将搜索到的商品链接贴到此处" type="text" style="width: 400px" ng-model="itemUrl"/>
                                <button class="btn btn-warning" ng-click="checkUrl(itemUrl)">核对商品地址</button>
                            </p>
                        </div>
                        <div class="col-lg-10 col-lg-offset-1">
                            <h3>温馨提示：此任务下单付款时注意：</h3>
                            <p>1、此任务需要拍 <span class="error">{{doTask.taskCount}}</span> 个商品,必须用 <span class="error">{{doTask.doTaskTerminal=='pc'?'电脑':'手机'}}</span> 下单付款 </p>
                            <p>2、此任务下单时无需订单备注</p>
                            <p>3、买手在搜索结果页面，按快捷键 Ctrl+F 搜索卖家名称的前三个字符，可快捷找到任务商品。若任务找不到商品，买手可尝试以下方法：
                                ①清除浏览器缓存（cookies） ②更换浏览器 ③退出淘宝账号后搜索。<span class="error">平台客服不会帮助找商品。</span></p>
                            <p>4、按照商家名称前三个字符搜索店铺直接访问的，接到商家投诉将会直接进行相应的处罚</p>
                        </div>
                    </div>
                    <div class="row" style="text-align: center">
                        <button class="btn btn-info" ng-click="nextStep(3)" ng-if="checkUrlFlag">下一步</button>
                        <button class="btn btn-default" ng-if="!checkUrlFlag">下一步</button>
                    </div>
                </div>
            </section>
        </section>
    </section>
    <!--main content end-->
</section>
<% include ../common_footer.html %>
