<% include ../common_header.html %>
<section id="container" ng-controller="buyerCtrl">
    <% include ./buyer_nav.html %>
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
                <section class="panel">
                    <header class="panel-heading">
                        个人信息
                    </header>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-3">
                                <span>登陆密码</span>
                                &nbsp;
                                &nbsp;
                                <span class="success"><i class="icon-ok-sign"></i>已设置</span>
                                &nbsp;
                                &nbsp;
                                <span><a href="#" class="btn-edit-password" ng-click="toggleEditPassword()">修改</a></span>
                            </div>
                            <div class="col-lg-3">
                                <span>支付密码</span>
                                &nbsp;
                                &nbsp;
                                <% if (cUser.tradePassword) { %>
                                <span class="success"><i class="icon-ok-sign"></i>已设置</span>
                                &nbsp;
                                &nbsp;
                                <span><a href="#" ng-click="toggleEditTradePassword()">修改</a></span>
                                <% } else { %>
                                <span class="error"><i class="icon-exclamation-sign"></i>未设置</span>
                                &nbsp;
                                &nbsp;
                                <span><a href="#" ng-click="toggleAddTradePassword()">添加</a></span>
                                <% } %>
                            </div>
                        </div>
                        <div class="row edit-user-info" ng-show="editPasswordBox || editTradePasswordBox || addTradePasswordBox" style="margin-top: 15px;">
                            <div class="col-lg-3">
                                <div class="row" ng-show="editPasswordBox">
                                    <div class="col-lg-12">
                                        <div class="form-horizontal">
                                            <div class="form-group">
                                                <label class="label label-success col-lg-11">修改登陆密码</label>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-lg-4">旧密码:</label>
                                                <div class="col-lg-7">
                                                    <input type="password" class="form-control" ng-model="oldPassword"/>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-lg-4">新密码:</label>
                                                <div class="col-lg-7">
                                                    <input type="password" class="form-control" ng-model="password"/>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-lg-4">确认密码:</label>
                                                <div class="col-lg-7">
                                                    <input type="password" class="form-control" ng-model="password1"/>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-lg-6 col-lg-offset-4">
                                                    <button class="btn btn-info" ng-click="editPassword()">确认</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3" ng-show="editTradePasswordBox">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-horizontal">
                                            <div class="form-group">
                                                <label class="label label-success col-lg-11 ">修改支付密码</label>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-lg-4">旧密码:</label>
                                                <div class="col-lg-7">
                                                    <input type="password" class="form-control" ng-model="oldTradePassword"/>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-lg-4">新密码:</label>
                                                <div class="col-lg-7">
                                                    <input type="password" class="form-control" ng-model="tradePassword"/>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-lg-4">确认密码:</label>
                                                <div class="col-lg-7">
                                                    <input type="password" class="form-control" ng-model="tradePassword1"/>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-lg-6 col-lg-offset-4">
                                                    <button class="btn btn-info" ng-click="editTradePassword()">确认</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3" ng-show="addTradePasswordBox">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-horizontal">
                                            <div class="form-group">
                                                <label class="label label-success col-lg-11 ">添加支付密码</label>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-lg-4">密码:</label>
                                                <div class="col-lg-7">
                                                    <input type="password" class="form-control" ng-model="tradePassword"/>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-lg-4">确认密码:</label>
                                                <div class="col-lg-7">
                                                    <input type="password" class="form-control" ng-model="tradePassword1"/>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-lg-6 col-lg-offset-4">
                                                    <button class="btn btn-info" ng-click="addTradePassword()">确认</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 30px">
                            <div class="col-lg-3">
                                <span>QQ:</span>
                                <span><%= cUser.qq %></span>
                                &nbsp;
                                &nbsp;
                                <span><a href="#" ng-click="editBox = 'qq'">[修改]</a></span>
                            </div>
                            <div class="col-lg-3">
                                <span>手机:</span>
                                <span><%= cUser.phone %></span>
                                &nbsp;
                                &nbsp;
                                <span><a href="#" ng-click="editBox = 'phone'">[修改]</a></span>
                            </div>
                            <div class="col-lg-3">
                                <span>邮箱:</span>
                                <span><%= cUser.email %></span>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 30px">
                            <div class="col-lg-4" ng-show="editBox == 'qq'">
                                <div class="form-horizontal edit-user-info">
                                    <div class="form-group">
                                        <label class="label label-success col-lg-9">为了便于商家与您联系，请填写您的常用QQ</label>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-lg-3">新的QQ号码:</label>
                                        <div class="col-lg-6">
                                            <input type="text" class="form-control" ng-model="qq"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-6 col-lg-offset-3">
                                            <button class="btn btn-info" ng-click="editQQ()">确认</button>
                                            <button class="btn btn-default" ng-click="editBox = ''">取消</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4" ng-show="editBox == 'phone'">
                                <div class="form-horizontal edit-user-info">
                                    <div class="form-group">
                                        <label class="label label-success col-lg-9">为了便于商家与您联系，请填写您的常用手机号码</label>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-lg-3">新的手机:</label>
                                        <div class="col-lg-6">
                                            <input type="text" class="form-control" ng-model="phone"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-6 col-lg-offset-3">
                                            <button class="btn btn-info" ng-click="editPhone()">确认</button>
                                            <button class="btn btn-default" ng-click="editBox = ''">取消</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            <section class="panel">
                <header class="panel-heading">
                    我的财务情况
                </header>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            拥有金币： <span class="error"><%= cUser.coin %></span> 个= <span class="error"><%= cUser.coin %></span> 元 （做任务金币不够，可充值购买）
                        </div>
                    </div>
                    <div class="row" style="margin-top: 30px;">
                        <div class="col-lg-12">
                            待返还笔数： <span class="error"><%= doingCount %></span> 笔 待商家发放佣金： <span class="error"><%= freezeFee %></span> 金币 冻结金币： <span class="error"><%= doingCount %></span> 个
                        </div>
                    </div>
                    <div class="row" style="margin-top: 30px;">
                        <div class="col-lg-12">
                            垫付本金： <span class="error"><%= freezeMoney %></span> 元 | 可提现： <span class="error"><%= cUser.money %></span> 元
                        </div>
                    </div>
                </div>
            </section>
            <section class="panel">
                <header class="panel-heading">
                    网站公告
                </header>
                <div class="panel-body">
                    <div class="row">
                        <div class="alert alert-warning">暂无公告</div>
                    </div>
                </div>
            </section>
        </section>
    </section>
    <!--main content end-->
</section>
<% include ../common_footer.html %>
