<% include ../common_header.html %>
<section id="container">
    <% include ./buyer_nav.html %>
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
                <section class="panel">
                    <header class="panel-heading">
                        账户金币充值
                    </header>
                    <header class="panel-heading" style="font-size: 12px;">
                        <i class="icon-ok-sign"></i>&nbsp;目前您账户剩余金币8个， 可接手8个任务；如需接手更多任务，请先充值购买金币；购买的金币作为接手任务的押金冻结；任务完成之后会自动解冻。
                    </header>
                    <div class="panel-body" id="paycoin">
                        <div class="row">
                            <div class="col-lg-12">
                                1.选择套餐
                            </div>
                        </div>
                        <div class="row" style="margin-top: 30px">
                            <div class="col-lg-2">
                                <div class="box-money active" data-data="10">
                                    <div class="title-money">10金币迷你包</div>
                                    <div class="content-money">10元</div>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="box-money" data-data="20">
                                    <div class="title-money">20金币标准包</div>
                                    <div class="content-money">20元</div>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="box-money" data-data="40">
                                    <div class="title-money">40金币高级包</div>
                                    <div class="content-money">40元</div>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="box-money" data-data="100">
                                    <div class="title-money">100金币豪华包</div>
                                    <div class="content-money">100元</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <i class="icon-ok-sign"></i>&nbsp;您已经选择购买 <span class="coin">10</span>金币体验包 需支付: <span class="coin error">10</span>元
                            </div>
                        </div>
                        <div class="row" style="margin-top: 30px;">
                            <div class="col-lg-12">
                                2.选择支付方式
                            </div>
                        </div>
                        <div class="row" style="margin-top: 30px;">
                            <div class="col-lg-2">
                                <div class="box-pay active" data-data="kuaiqian">
                                    <div class="title-pay">快钱</div>
                                    <div class="content-pay">
                                        <img src="/resource/img/paycenter.gif" alt="" width="100%"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="box-pay" data-data="alipay">
                                    <div class="title-pay">支付宝</div>
                                    <div class="content-pay">
                                        <img src="/resource/img/paycenter.gif" alt="" width="100%"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 30px">
                            <div class="col-lg-12">
                                <button class="btn btn-info" id="btn-pay">确认</button>
                            </div>
                        </div>
                    </div>
                </section>
        </section>
        <section class="panel">
            <header class="panel-heading">
                资金记录
            </header>
            <div class="panel-body">
                <header class="panel-heading tab-bg-blue">
                    <ul class="nav nav-tabs nav-justified ">
                        <li class="active">
                            <a href="#withdraw" data-toggle="tab">
                                提现记录
                            </a>
                        </li>
                        <li>
                            <a href="#coin" data-toggle="tab">
                                金币记录
                            </a>
                        </li>
                        <li class="">
                            <a href="#money" data-toggle="tab">
                                本金记录
                            </a>
                        </li>
                        <li class="">
                            <a href="#member" data-toggle="tab">
                                会员记录
                            </a>
                        </li>
                    </ul>
                </header>
                <div class="panel-body">
                    <div class="tab-content tasi-tab">
                        <div class="tab-pane active" id="withdraw" ng-controller="buyerLogWithdrawCtrl">
                            <div class="alert alert-warning" ng-if="data.length == 0">暂无数据</div>
                            <table class="table" ng-if="data.length != 0">
                                <thead>
                                <tr>
                                    <th>金额</th>
                                    <th>类型</th>
                                    <th>状态</th>
                                    <th>申请时间</th>
                                    <th>备注</th>
                                </tr>
                                </thead>
                                <tr ng-repeat="d in data">
                                    <td>{{d.withdrawValue}}元/金币</td>
                                    <td>{{statusMap.type[d.withdrawType]}}</td>
                                    <td>{{statusMap.status[d.withdrawStatus]}}</td>
                                    <td>{{d.withdrawCreateTime | date: 'yyyy-MM-dd HH:mm'}}</td>
                                    <td>{{d.withdrawComment}}</td>
                                </tr>
                            </table>
                            <div class="text-center" ng-if="data.length != 0">
                                <ul class="pagination">
                                    <li ng-if="page != 1"><a ng-click="changePage(page-1)" href="javascript:;;;">«</a></li>
                                    <li ng-repeat="t in totalPage"><a href="javascript:;;;" ng-click="changePage(t)">{{t}}</a></li>
                                    <li ng-if="page != total"><a ng-click="changePage(page+1)" href="javascript:;;;">»</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="tab-pane" id="coin" ng-controller="buyerLogCoinCtrl">
                            <div class="alert alert-warning" ng-if="data.length == 0">暂无数据</div>
                            <table class="table" ng-if="data.length != 0">
                                <thead>
                                <tr>
                                    <th>时间</th>
                                    <th>收入</th>
                                    <th>支出</th>
                                    <th>结余</th>
                                    <th>备注</th>
                                </tr>
                                </thead>
                                <tr ng-repeat="d in data">
                                    <td>{{d.logCoinCreateTime | date: 'yyyy-MM-dd HH:mm'}}</td>
                                    <td><span class="error" ng-if="d.logCoinType == 1">{{d.logCoin}}</span></td>
                                    <td><span class="error" ng-if="d.logCoinType == -1">{{d.logCoin}}</span></td>
                                    <td><span class="error">{{d.logCoinBalance}}</span></td>
                                    <td>{{d.logCoinComment}}</td>
                                </tr>
                            </table>
                            <div class="text-center" ng-if="data.length != 0">
                                <ul class="pagination">
                                    <li ng-if="page != 1"><a ng-click="changePage(page-1)" href="javascript:;;;">«</a></li>
                                    <li ng-repeat="t in totalPage"><a href="javascript:;;;" ng-click="changePage(t)">{{t}}</a></li>
                                    <li ng-if="page != total"><a ng-click="changePage(page+1)" href="javascript:;;;">»</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="tab-pane " id="money" ng-controller="buyerLogMoneyCtrl">
                            <div class="alert alert-warning" ng-if="data.length == 0">暂无数据</div>
                            <table class="table" ng-if="data.length != 0">
                                <thead>
                                <tr>
                                    <th>时间</th>
                                    <th>收入</th>
                                    <th>支出</th>
                                    <th>结余</th>
                                    <th>备注</th>
                                </tr>
                                </thead>
                                <tr ng-repeat="d in data">
                                    <td>{{d.logMoneyCreateTime | date: 'yyyy-MM-dd HH:mm'}}</td>
                                    <td><span class="error" ng-if="d.logMoneyType == 1">{{d.logMoney}}</span></td>
                                    <td><span class="error" ng-if="d.logMoneyType == -1">{{d.logMoney}}</span></td>
                                    <td><span class="error">{{d.logMoneyBalance}}</span></td>
                                    <td>{{d.logMoneyComment}}</td>
                                </tr>
                            </table>
                            <div class="text-center" ng-if="data.length != 0">
                                <ul class="pagination">
                                    <li ng-if="page != 1"><a ng-click="changePage(page-1)" href="javascript:;;;">«</a></li>
                                    <li ng-repeat="t in totalPage"><a href="javascript:;;;" ng-click="changePage(t)">{{t}}</a></li>
                                    <li ng-if="page != total"><a ng-click="changePage(page+1)" href="javascript:;;;">»</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="tab-pane " id="member" ng-controller="buyerLogMemberCtrl">
                            <div class="alert alert-warning" ng-if="data.length == 0">暂无数据</div>
                            <table class="table" ng-if="data.length != 0">
                                <thead>
                                <tr>
                                    <th>时间</th>
                                    <th>金额</th>
                                    <th>类型</th>
                                    <th>备注</th>
                                </tr>
                                </thead>
                                <tr ng-repeat="d in data">
                                    <td>{{d.logMemberCreateTime | date: 'yyyy-MM-dd HH:mm'}}</td>
                                    <td><span class="error" ng-if="d.logMemberType == 1">{{d.logMember}}</span></td>
                                    <td>开通</td>
                                    <td>{{d.logMemberComment}}</td>
                                </tr>
                            </table>
                            <div class="text-center" ng-if="data.length != 0">
                                <ul class="pagination">
                                    <li ng-if="page != 1"><a ng-click="changePage(page-1)" href="javascript:;;;">«</a></li>
                                    <li ng-repeat="t in totalPage"><a href="javascript:;;;" ng-click="changePage(t)">{{t}}</a></li>
                                    <li ng-if="page != total"><a ng-click="changePage(page+1)" href="javascript:;;;">»</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </section>
    <!--main content end-->
</section>
<% include ../common_footer.html %>
<script>
    $('.box-money').click(function() {
        var self = $(this);
        $('.box-money').removeClass('active');
        self.addClass('active');
    });

    $('.box-pay').click(function() {
        var self = $(this);
        $('.box-pay').removeClass('active');
        self.addClass('active');
    });

    function getPayMethod(element) {
        return $(element).find('.box-pay.active').attr('data-data');
    }

        $('#btn-pay').click(function() {
            //支付方式
            var payMethod = getPayMethod('#paycoin');

            //支付金币
            var payCoin= $('#paycoin .box-money.active').attr('data-data');

            if (payCoin < 1) {
                alert('最低1元起充');
                return false;
            }

            if (payMethod == 'kuaiqian') {
                window.open('/buyer/money/kuaiqian?type=0&value=' + payCoin);
            } else if (payMethod == 'alipay') {
                location.href = '/buyer/money/alipay?type=0&value=' + payCoin;
            }
        })
</script>
