<% include ../common_header.html %>
<section id="container" ng-controller="buyerTasksCtrl">
    <% include ./buyer_nav.html %>
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <section class="panel">
                <header class="panel-heading">
                    待处理任务
                    <a href="/buyer/tasklist" class="pull-right"><span class="error"><i
                            class="icon-ok-sign"></i>&nbsp;我要做任务</span></a>
                </header>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-4">
                            <!--widget start-->
                            <aside class="profile-nav alt blue-border">
                                <section class="panel">
                                    <div class="user-heading alt blue-bg">
                                        <h1>已接手，待付款</h1>

                                        <p><i class="icon-ok-sign"></i> &nbsp;请尽快开始并在要求时间内完成
                                        </p>
                                    </div>

                                    <ul class="nav nav-pills nav-stacked">
                                        <li ng-repeat="fukuan in fukuans">
                                            <a href="/buyer/dotask?id={{fukuan.id}}">{{fukuan.taskName}}
                                                <span class="label label-primary pull-right r-activity">继续任务</span>
                                            </a>
                                        </li>
                                    </ul>

                                </section>
                            </aside>
                            <!--widget end-->
                        </div>
                        <div class="col-lg-4">
                            <!--widget start-->
                            <aside class="profile-nav alt blue-border">
                                <section class="panel">
                                    <div class="user-heading alt blue-bg">
                                        <h1>快递单已打印，待确认收货</h1>

                                        <p><i class="icon-ok-sign"></i> &nbsp;请待快递状态变为已签收后再确认收货并好评
                                        </p>
                                    </div>

                                    <ul class="nav nav-pills nav-stacked">
                                        <li><a href="/buyer/tasks/shouhuo">淘宝<span
                                                class="label label-primary pull-right r-activity">{{taobaoShouhuos.length}}</span></a>
                                        </li>
                                        <li><a href="/buyer/tasks/shouhuo">天猫<span
                                                class="label label-primary pull-right r-activity">{{tmallShouhuos.length}}</span></a>
                                        </li>
                                        <li><a href="/buyer/tasks/shouhuo">京东<span
                                                class="label label-primary pull-right r-activity">{{jdShouhuos.length}}</span></a>
                                        </li>
                                    </ul>

                                </section>
                            </aside>
                            <!--widget end-->
                        </div>
                        <div class="col-lg-4">
                            <!--widget start-->
                            <aside class="profile-nav alt blue-border">
                                <section class="panel">
                                    <div class="user-heading alt blue-bg">
                                        <h1>商家已退款，等待买手确认</h1>

                                        <p><i class="icon-ok-sign"></i> &nbsp;商家预计在48小时内退款完毕，请等待退款到账
                                        </p>
                                    </div>

                                    <ul class="nav nav-pills nav-stacked">
                                        <li><a href="/buyer/tasks/tuikuan">淘宝<span
                                                class="label label-primary pull-right r-activity">{{taobaoTuikuans.length}}</span></a>
                                        </li>
                                        <li><a href="/buyer/tasks/tuikuan">天猫<span
                                                class="label label-primary pull-right r-activity">{{tmallTuikuans.length}}</span></a>
                                        </li>
                                        <li><a href="/buyer/tasks/tuikuan">京东<span
                                                class="label label-primary pull-right r-activity">{{jdTuikuans.length}}</span></a>
                                        </li>
                                    </ul>

                                </section>
                            </aside>
                            <!--widget end-->
                        </div>
                    </div>
                </div>
            </section>
            <section class="panel">
                <header class="panel-heading">
                    任务进展
                </header>
                <div class="panel-body">
                    <header class="panel-heading tab-bg-blue">
                        <ul class="nav nav-tabs nav-justified ">
                            <li class="active">
                                <a href="#doing" data-toggle="tab">
                                    进行中的任务
                                </a>
                            </li>
                            <li>
                                <a href="#done" data-toggle="tab">
                                    已完成的任务
                                </a>
                            </li>
                            <li class="">
                                <a href="#cancel" data-toggle="tab">
                                    已取消的任务
                                </a>
                            </li>
                            <li class="">
                                <a href="#all" data-toggle="tab">
                                    全部任务
                                </a>
                            </li>
                        </ul>
                    </header>
                    <div class="panel-body">
                        <div class="tab-content tasi-tab">
                            <div class="tab-pane active" id="doing">
                                <article class="media box" ng-repeat="doing in doings">
                                    <a class="pull-left thumb p-thumb">
                                        <img ng-src="{{doing.taobaoImage || doing.tmallImage || doing.jdImage}}">
                                    </a>

                                    <div class="media-body">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <span class=" p-head">{{doing.taskShopName}}</span>
                                            </div>
                                            <div class="col-lg-6">
                                            <span>
                                                任务编号： {{doing.doTaskDetailDoTaskId}}
                                                <!--<a href="/buyer/tasks/doTaskDetail?id={{doing.doTaskDetailDoTaskId}}">-->
                                                    <!--[详情]-->
                                                <!--</a>-->
                                                接手时间：{{doing.doTaskCreateTime | date: 'yyyy-MM-dd HH:mm'}}
                                            </span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <span class="label label-primary" style="padding: 2px">平台返款</span>
                                                {{doing.taskName}}
                                            </div>
                                            <div class="col-lg-3">
                                                <span>任务状态：{{statusMap.dotask[doing.doTaskStatus]}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <div class="tab-pane" id="done">
                                <article class="media box" ng-repeat="done in dones">
                                    <a class="pull-left thumb p-thumb">
                                        <img ng-src="{{done.taobaoImage || done.tmallImage || done.jdImage}}">
                                    </a>

                                    <div class="media-body">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <span class=" p-head">{{done.taskShopName}}</span>
                                            </div>
                                            <div class="col-lg-6">
                                            <span>
                                                任务编号： {{done.doTaskDetailDoTaskId}}
                                                <!--<a href="/buyer/tasks/doTaskDetail?id={{done.doTaskDetailDoTaskId}}">-->
                                                    <!--[详情]-->
                                                <!--</a>-->
                                                接手时间：{{done.doTaskCreateTime | date: 'yyyy-MM-dd HH:mm'}}
                                            </span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <span class="label label-primary" style="padding: 2px">平台返款</span>
                                                {{done.taskName}}
                                            </div>
                                            <div class="col-lg-3">
                                                <span>任务状态：{{statusMap.dotask[done.doTaskStatus]}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <div class="tab-pane " id="cancel">
                                <article class="media box" ng-repeat="cancel in cancels">
                                    <a class="pull-left thumb p-thumb">
                                        <img ng-src="{{cancel.taobaoImage || cancel.tmallImage || cancel.jdImage}}">
                                    </a>

                                    <div class="media-body">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <span class=" p-head">{{cancel.taskShopName}}</span>
                                            </div>
                                            <div class="col-lg-6">
                                            <span>
                                                任务编号： {{cancel.doTaskDetailDoTaskId}}
                                                <!--<a href="/buyer/tasks/doTaskDetail?id={{cancel.doTaskDetailDoTaskId}}">-->
                                                    <!--[详情]-->
                                                <!--</a>-->
                                                接手时间：{{cancel.doTaskCreateTime | date: 'yyyy-MM-dd HH:mm'}}
                                            </span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <span class="label label-primary" style="padding: 2px">平台返款</span>
                                                {{cancel.taskName}}
                                            </div>
                                            <div class="col-lg-3">
                                                <span>任务状态：{{statusMap.dotask[cancel.doTaskStatus]}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <div class="tab-pane " id="all">
                                <article class="media box" ng-repeat="doTask in doTasks">
                                    <a class="pull-left thumb p-thumb">
                                        <img ng-src="{{doTask.taobaoImage || doTask.tmallImage || doTask.jdImage}}">
                                    </a>

                                    <div class="media-body">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <span class=" p-head">{{doTask.taskShopName}}</span>
                                            </div>
                                            <div class="col-lg-6">
                                            <span>
                                                任务编号： {{doTask.doTaskDetailDoTaskId}}
                                                <!--<a href="/buyer/tasks/doTaskDetail?id={{doTask.doTaskDetailDoTaskId}}">-->
                                                    <!--[详情]-->
                                                <!--</a>-->
                                                接手时间：{{doTask.doTaskCreateTime | date: 'yyyy-MM-dd HH:mm'}}
                                            </span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <span class="label label-primary" style="padding: 2px">平台返款</span>
                                                {{doTask.taskName}}
                                            </div>
                                            <div class="col-lg-3">
                                                <span>任务状态：{{statusMap.dotask[doTask.doTaskStatus]}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </section>
    <!--main content end-->
</section>
<% include ../common_footer.html %>
