<% include ../common_header.html %>
<section id="container" ng-controller="buyerWithdrawCtrl">
    <% include ./buyer_nav.html %>
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <section class="panel">
                <header class="panel-heading">
                    提现设置
                </header>
                <div class="panel-body">
                    <header class="panel-heading tab-bg-blue">
                        <ul class="nav nav-tabs nav-justified ">
                            <li class="active">
                                <a href="#account" data-toggle="tab">
                                    提现/退款账号
                                </a>
                            </li>
                            <li>
                                <a href="#coin" data-toggle="tab">
                                    提现申请
                                </a>
                            </li>
                            <li class="">
                                <a href="#money" data-toggle="tab">
                                    垫付本金提现
                                </a>
                            </li>
                        </ul>
                    </header>
                    <div class="panel-body">
                        <div class="tab-content tasi-tab">
                            <div class="tab-pane active" id="account">
                                <div class="row" style="margin-top: 30px">
                                    <div class="col-lg-2">
                                        <div class="box-money active"
                                             id="box-tenpay">
                                            <div class="title-money">财付通</div>
                                            <div ng-if="!tenpay.bankStatus && tenpay.bankStatus != 0"
                                                 class="content-money">未绑定
                                            </div>
                                            <div ng-if="tenpay.bankStatus == 0"
                                                 class="content-money">待审核
                                            </div>
                                            <div ng-if="tenpay.bankStatus == 1"
                                                 class="content-money">已绑定
                                            </div>
                                            <div ng-if="tenpay.bankStatus == -1"
                                                 class="content-money">未通过
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="box-money" id="box-alipay">
                                            <div class="title-money">支付宝</div>
                                            <div ng-if="!alipay.bankStatus && alipay.bankStatus != 0"
                                                 class="content-money">未绑定
                                            </div>
                                            <div ng-if="alipay.bankStatus == 0"
                                                 class="content-money">待审核
                                            </div>
                                            <div ng-if="alipay.bankStatus == 1"
                                                 class="content-money">已绑定
                                            </div>
                                            <div ng-if="alipay.bankStatus == -1"
                                                 class="content-money">未通过
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="box-money" id="box-bank">
                                            <div class="title-money">银行卡</div>
                                            <div ng-if="!bank.bankStatus && bank.bankStatus != 0"
                                                 class="content-money">未绑定
                                            </div>
                                            <div ng-if="bank.bankStatus == 0"
                                                 class="content-money">待审核
                                            </div>
                                            <div ng-if="bank.bankStatus == 1"
                                                 class="content-money">已绑定
                                            </div>
                                            <div ng-if="bank.bankStatus == -1"
                                                 class="content-money">未通过
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-horizontal" id="form-tenpay">
                                    <div class="form-group">
                                        <label class="control-label col-lg-2">姓名</label>

                                        <div class="col-lg-3">
                                            <input type="text" id="tenpay-name"
                                                   class="form-control"
                                                   ng-model="tenpay.bankRealName"/>
                                        </div>
                                        <div class="col-lg-3">
                                            财付通姓名一般为真实姓名，请务必准确填写，否则将无法给你退款
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-lg-2">财付通账号</label>

                                        <div class="col-lg-3">
                                            <input type="text"
                                                   id="tenpay-account"
                                                   class="form-control"
                                                   ng-model="tenpay.bankAccount"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-lg-2">账号截图</label>

                                        <div class="col-lg-3">
                                            <button class="btn btn-info"
                                                    ng-file-select
                                                    ng-model="tenpay.image">
                                                上传账号截图
                                            </button>
                                        </div>
                                        <div class="col-md-1">
                                            <a ng-href="{{tenpay.bankImage}}"
                                               target="_blank"
                                               ng-show="tenpay.bankImage">[查看图片]</a>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-3 col-lg-offset-2">
                                            <button ng-if="!tenpay.bankStatus && tenpay.bankStatus != 0"
                                                    class="btn btn-info"
                                                    ng-click="submitTenpay()">确定
                                            </button>
                                            <button ng-if="tenpay.bankStatus >= 0"
                                                    class="btn btn-default">确定
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-horizontal" id="form-alipay"
                                     style="display: none;">
                                    <div class="form-group">
                                        <label class="control-label col-lg-2">姓名</label>

                                        <div class="col-lg-3">
                                            <input type="text" id="alipay-name"
                                                   class="form-control"
                                                   ng-model="alipay.bankRealName"/>
                                        </div>
                                        <div class="col-lg-3">
                                            支付宝姓名一般为真实姓名，请务必准确填写，否则将无法给你退款
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-lg-2">支付宝账号</label>

                                        <div class="col-lg-3">
                                            <input type="text"
                                                   id="alipay-account"
                                                   class="form-control"
                                                   ng-model="alipay.bankAccount"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-lg-2">账号截图</label>

                                        <div class="col-lg-3">
                                            <button class="btn btn-info"
                                                    ng-file-select
                                                    ng-model="alipay.image">
                                                上传账号截图
                                            </button>
                                        </div>
                                        <div class="col-md-1">
                                            <a ng-href="{{alipay.bankImage}}"
                                               target="_blank"
                                               ng-show="alipay.bankImage">[查看图片]</a>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-3 col-lg-offset-2">
                                            <button ng-if="!alipay.bankStatus && alipay.bankStatus != 0"
                                                    class="btn btn-info"
                                                    ng-click="submitAlipay()">确定
                                            </button>
                                            <button ng-if="alipay.bankStatus >= 0"
                                                    class="btn btn-default">确定
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-horizontal" id="form-bank"
                                     style="display: none;">
                                    <div class="form-group">
                                        <label class="control-label col-lg-2">开户名</label>

                                        <div class="col-lg-3">
                                            <input type="text"
                                                   id="bank-username"
                                                   class="form-control"
                                                   ng-model="bank.bankRealName"/>
                                        </div>
                                        <div class="col-lg-3">
                                            银行姓名一般为真实姓名，请务必准确填写，否则将无法给你退款
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-lg-2">银行名称</label>

                                        <div class="col-lg-3">
                                            <input type="text" id="bank-name"
                                                   class="form-control"
                                                   ng-model="bank.bankName"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-lg-2">银行账号</label>

                                        <div class="col-lg-3">
                                            <input type="text" id="bank-account"
                                                   class="form-control"
                                                   ng-model="bank.bankAccount"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-lg-2">账号截图</label>

                                        <div class="col-lg-3">
                                            <button class="btn btn-info"
                                                    ng-file-select
                                                    ng-model="bank.image">上传账号截图
                                            </button>
                                        </div>
                                        <div class="col-md-1">
                                            <a ng-href="{{bank.bankImage}}"
                                               target="_blank"
                                               ng-show="bank.bankImage">[查看图片]</a>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-3 col-lg-offset-2">
                                            <button ng-if="!bank.bankStatus && bank.bankStatus != 0"
                                                    class="btn btn-info"
                                                    ng-click="submitBank()">确定
                                            </button>
                                            <button ng-if="bank.bankStatus >= 0"
                                                    class="btn btn-default">确定
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="coin">
                                <p>

                                <div class="col-lg-2">
                                    可提现金币:
                                </div>
                                <div class="class-col-lg-6">
                                    <span class="error">
                                    <%= cUser.coin %>
                                    </span>
                                    金币</p>
                                </div>
                                <p>

                                <div class="col-lg-2">
                                    选择提现账号:
                                </div>
                                <div class="class-col-lg-6">
                                    <select name="" id="" ng-hide="tenpay.bankStatus != 1 && alipay.bankStatus != 1 && bank.bankStatus != 1"
                                            ng-model="withdrawCoinType">
                                        <option value="">选择提现账号</option>
                                        <option ng-value="tenpay.id" ng-if="tenpay.bankStatus == 1">财付通</option>
                                        <option ng-value="alipay.id" ng-if="alipay.bankStatus == 1">支付宝</option>
                                        <option ng-value="bank.id" ng-if="bank.bankStatus == 1">银行</option>
                                    </select>

                                    <span ng-show="tenpay.bankStatus != 1 && alipay.bankStatus != 1 && bank.bankStatus != 1">
                                        尚无审核成功的提现账号！
                                        <a href="/buyer/withdraw" class="btn btn-info">查看提现账号</a>
                                    </span>
                                </div>
                                </p>
                                <p>

                                    <% if (cUser.tradePassword) { %>

                                <div class="col-lg-2">
                                    请输入支付密码:
                                </div>
                                <div class="class-col-lg-6">
                                    <input type="password"
                                           ng-model="withdrawCoinPassword"/>
                                </div>
                                <div class="col-lg-2">
                                    请输入提现金额:
                                </div>
                                <div class="class-col-lg-6">
                                    <input type="text"
                                           ng-model="withdrawCoin"/>
                                </div>
                                    <% } else { %>
                                <div class="col-lg-2">
                                    请输入支付密码:
                                </div>
                                <div class="class-col-lg-6">
                                    尚未设置支付密码!
                                    <a href="/buyer" class="btn btn-info">设置支付密码</a>
                                </div>
                                    <% } %>
                                </p>
                                <p>

                                <div class="col-lg-2">
                                </div>
                                <div class="class-col-lg-6">
                                    <button class="btn btn-info" ng-click="submitWithDrawCoin()">确认</button>
                                </div>
                                </p>
                                <div class="border-bottom"></div>
                                <div>
                                    温馨提示: <br/>
                                    1.请确保您输入的提现金额，以及财付通、支付宝或银行卡账号信息准确无误。 <br/>
                                    2.如果您填写的提现信息不正确也可能会导致提现失败，由此产生的提现费用将不予返还。 <br/>
                                    3.在国家法定假日和双休日期间，用户可以申请提现，平台会在7个工作日内进行处理。由此造成的不便，请多多谅解! <br/>
                                    4.平台禁止洗钱、信用卡套现、虚假交易等行为，一经发现并确认，将终止该账号的使用。 <br/>
                                    5.平台操作提现后，到账金额可能会分为几笔打入您的账户，查询时请注意计算到账总金额。 <br/>
                                </div>
                            </div>
                            <div class="tab-pane " id="money">
                                <!--<p>您共有: <span class="error">4</span>笔任务将由一家网退款，共计: <span class="error">222.3</span>元</p>-->
                                <!--<p>当前已返还本金： <span class="error">35</span>元/ <span class="error">1</span>笔 (可提现) | 待返还本金： <span class="error">187.3</span>元/ <span class="error">3</span>笔</p>-->
                                <!--<div class="border-bottom"></div>-->
                                <!--<p>可提现本金： <span class="error">35</span>元</p>-->
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th><input type="checkbox" ng-model="checkType" ng-click="check()"/>&nbsp;&nbsp;全选</th>
                                        <th>商品信息</th>
                                        <th>商家/买号</th>
                                        <th>退款金额</th>
                                        <th>本金返还时间</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="dotask in dotasks">
                                        <td>
                                            <input type="checkbox" checklist-model="checkroles" checklist-value="dotask.id">
                                            {{dotask.id}}</td>
                                        <td>
                                            <div class="row">
                                                <div class="col-lg-2">
                                                    <img ng-src="{{dotask.taobaoImage || dotask.tmallImage || dotask.jdImage}}" alt="" width="50px"/>
                                                </div>
                                                <div class="col-lg-10">
                                                    <p>{{dotask.taskName}}</p>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <p>{{dotask.taskShopName}}</p>
                                            <p>{{dotask.doTaskAccountName}}</p>
                                        </td>
                                        <td><span class="error">{{dotask.doTaskDetailOrderMoney}}元</span></td>
                                        <td>
                                            <p>任务编号: {{dotask.doTaskDetailDoTaskId}}</p>
                                            <p>
                                                {{dotask.doTaskExtendConfirmTime}}
                                            </p>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                                <p>

                                <div class="col-lg-2">
                                    选择提现账号:
                                </div>
                                <div class="class-col-lg-6">
                                    <select name="" id="" ng-hide="tenpay.bankStatus != 1 && alipay.bankStatus != 1 && bank.bankStatus != 1"
                                            ng-model="withdrawMoneyType">
                                        <option value="">选择提现账号</option>
                                        <option ng-value="tenpay.id" ng-if="tenpay.bankStatus == 1">财付通</option>
                                        <option ng-value="alipay.id" ng-if="alipay.bankStatus == 1">支付宝</option>
                                        <option ng-value="bank.id" ng-if="bank.bankStatus == 1">银行</option>
                                    </select>

                                    <span ng-show="tenpay.bankStatus != 1 && alipay.bankStatus != 1 && bank.bankStatus != 1">
                                        尚无审核成功的提现账号！
                                        <a href="/buyer/withdraw" class="btn btn-info">查看提现账号</a>
                                    </span>
                                </div>
                                </p>
                                <p>

                                    <% if (cUser.tradePassword) { %>

                                <div class="col-lg-2">
                                    请输入支付密码:
                                </div>
                                <div class="class-col-lg-6">
                                    <input type="password"
                                           ng-model="withdrawMoneyPassword"/>
                                </div>
                                <% } else { %>
                                <div class="col-lg-2">
                                    请输入支付密码:
                                </div>
                                <div class="class-col-lg-6">
                                    尚未设置支付密码!
                                    <a href="/buyer" class="btn btn-info">设置支付密码</a>
                                </div>
                                <% } %>
                                </p>
                                <p>

                                <div class="col-lg-2">
                                </div>
                                <div class="class-col-lg-6">
                                    <button class="btn btn-info" ng-click="submitWithDrawMoney()">确认</button>
                                </div>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </section>
    <!--main content end-->
</section>
<% include ../common_footer.html %>
<script>
    $('#account .box-money').click(function () {
        var self = $(this);
        $('#account .box-money').removeClass('active');
        self.addClass('active');
        var id = self.attr('id').split('-')[1];
        var form = $('#form-' + id);

        $('#account .form-horizontal').hide();
        form.show();
    });
</script>
