<% include ./index_header.html %>
<section id="container" ng-controller="accountCtrl">
    <% include ./index_nav.html %>
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
                <section class="panel">
                    <header class="panel-heading">
                        账号管理
                    </header>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <p>
                                    ID: <input type="text" ng-model="filter.id" style="width: 50px;"/> &nbsp;
                                    账号: <input type="text" ng-model="filter.username" style="width: 100px;"/> &nbsp;
                                    审核状态: <select name="" ng-model="filter.accountStatus">
                                    <option value="">全部</option><option value="0">待审核</option>
                                    <option value="1">通过</option> &nbsp;
                                    <option value="-1">拒绝</option></select> &nbsp;
                                    绑定平台: <select name="" ng-model="filter.accountStatus">
                                    <option value="">全部</option>
                                    <option value="taobao">淘宝</option>
                                    <option value="tmall">天猫</option> &nbsp;
                                    <option value="jd">京东</option></select> &nbsp;
                                    绑定账号: <input type="text" ng-model="filter.accountName" style="width: 100px;"/> &nbsp;
                                    绑定名称: <input type="text" ng-model="filter.accountRealName" style="width: 100px;"/> &nbsp;
                                    电话: <input type="text" ng-model="filter.accountPhone" style="width: 100px;"/> &nbsp;
                                    <button class="btn btn-success btn-xs" ng-click="search()">查询</button>
                                </p>
                            </div>
                        </div>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>id</th>
                                <th>账号名称</th>
                                <th>审核状态</th>
                                <th>绑定平台</th>
                                <th>绑定账号</th>
                                <th>绑定名字</th>
                                <th>电话</th>
                                <th>地址</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tr ng-repeat="d in data">
                                <td>{{d.id}}</td>
                                <td>{{d.username}}</td>
                                <td>{{statusMap.status[d.accountStatus]}}</td>
                                <td>{{statusMap.platform[d.accountPlatform]}}</td>
                                <td>{{d.accountName}}</td>
                                <td>{{d.accountRealName}}</td>
                                <td>{{d.accountPhone}}</td>
                                <td>
                                    <p>
                                        {{d.accountProvince}}{{d.accountCity}}{{d.accountArea}}
                                    </p>
                                    <p>{{d.accountAddress}}</p>
                                </td>
                                <td>{{d.accountCreateTime | date: 'yyyy-MM-dd HH:mm'}}</td>
                                <td>
                                    <div class="btn-group">
                                        <button data-toggle="dropdown" class="btn btn-success dropdown-toggle btn-xs" type="button">操作<span class="caret"></span></button>
                                        <ul role="menu" class="dropdown-menu">
                                            <li><a ng-click="pass(d)">通过</a></li>
                                            <li><a ng-click="unpass(d)">拒绝</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <div class="text-center">
                            <ul class="pagination">
                                <li ng-if="page != 1"><a ng-click="changePage(page-1)" href="javascript:;;;">«</a></li>
                                <li ng-repeat="t in totalPage"><a href="javascript:;;;" ng-click="changePage(t)">{{t}}</a></li>
                                <li ng-if="page != total"><a ng-click="changePage(page+1)" href="javascript:;;;">»</a></li>
                            </ul>
                        </div>
                    </div>
                </section>
        </section>
    </section>
    <!--main content end-->
</section>
<% include ./index_footer.html %>
