<% include ./index_header.html %>
<section id="container" ng-controller="doTaskCtrl">
    <% include ./index_nav.html %>
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
                <section class="panel">
                    <header class="panel-heading">
                        任务清单管理
                    </header>
                    <div class="panel-body">
                        <table class="table" ng-repeat="doTask in doTasks">
                            <tr>
                                <td>账号：{{doTask.username}}</td>
                                <td>淘宝：{{doTask.doTaskAccountName}}</td>
                                <td>任务编号：{{doTask.doTaskDetailDoTaskId}}</td>
                                <td>商家账号：{{doTask.taskUserName}}</td>
                            </tr>
                            <tr>
                                <td>店铺名称：{{doTask.taskShopName}}</td>
                                <td>产品链接：{{doTask.taskUrl}}</td>
                                <td>产品单价：{{doTask.taskTotalMoney}}元</td>
                                <td>产品名称：{{doTask.taskName}}</td>
                            </tr>
                            <tr>
                                <td colspan="2">聊天记录截图：<a href="{{doTask.doTaskDetailTalkImage}}"><img ng-src="{{doTask.doTaskDetailTalkImage}}" alt="" width="50"/></a></td>
                                <td colspan="2">付款记录截图：<a href="{{doTask.doTaskDetailOrderImage}}"><img ng-src="{{doTask.doTaskDetailOrderImage}}" alt="" width="50"/></a></td>
                            </tr>
                            <tr>
                                <td>快递名称： <input type="text" ng-model="doTask.doTaskExtendExpressName"/></td>
                                <td>快递单号： <input ng-model="doTask.doTaskExtendExpressId" type="text"/></td>
                                <td>淘宝订单号：{{doTask.doTaskDetailOrderId}}</td>
                                <td>任务状态：{{statusMap[doTask.doTaskStatus]}}</td>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    <button class="btn btn-warning" ng-click="addExpress(doTask)">添加快递</button>
                                    <button class="btn btn-warning" ng-click="editExpress(doTask)">编辑快递</button>
                                    <button class="btn btn-warning" ng-click="cancel(doTask)">撤销任务单</button>
                                </td>
                            </tr>
                        </table>
                        <div class="text-center">
                            <ul class="pagination">
                                <li ng-if="page != 1"><a href="#">«</a></li>
                                <li ng-repeat="t in totalPage"><a href="#" ng-click="page=t">{{t}}</a></li>
                                <li ng-if="page != total"><a href="#">»</a></li>
                            </ul>
                        </div>
                    </div>
                </section>
        </section>
    </section>
    <!--main content end-->
</section>
<% include ./index_footer.html %>
