<!--header start-->
<header class="header white-bg">
    <div class="sidebar-toggle-box">
        <div data-original-title="隐藏/显示导航栏" data-placement="right"
             class="icon-reorder tooltips"></div>
    </div>
    <!--logo start-->
    <a href="/buyer" class="logo">一家<span>网</span></a>
    <!--logo end-->
    <div class="nav notify-row" id="top_menu">
    </div>
    <div class="nav notify-row pull-right " style="margin-left: 0;">
        <a class="btn btn-info" href="/admin/index/logout">退出</a>
    </div>
</header>
<!--header end-->
<!--sidebar start-->
<aside>
    <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
            <li>
                <a href="/admin">
                    <i class="icon-user"></i>
                    <span>管理中心</span>
                </a>
            </li>
            <li>
                <a href="/admin/setting">
                    <i class="icon-user"></i>
                    <span>系统设置</span>
                </a>
            </li>
            <li class="sub-menu">
                <a href="javascript:;" >
                    <i class="icon-book"></i>
                    <span>用户管理</span>
                </a>
                <ul class="sub">
                    <li><a  href="/admin/user/buyer">买手</a></li>
                    <li><a  href="/admin/user/seller">商家</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;" >
                    <i class="icon-book"></i>
                    <span>资金管理</span>
                </a>
                <ul class="sub">
                    <li><a  href="/admin/money/in">充值</a></li>
                    <li><a  href="/admin/money/out">提现</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;" >
                    <i class="icon-book"></i>
                    <span>任务管理</span>
                </a>
                <ul class="sub">
                    <li><a  href="/admin/task">任务审核</a></li>
                    <li><a  href="/admin/dotask">任务清单</a></li>
                </ul>
            </li>
            <li>
                <a href="/admin/bank">
                    <i class="icon-user"></i>
                    <span>提现账号管理</span>
                </a>
            </li>
            <li>
                <a href="/admin/shop">
                    <i class="icon-user"></i>
                    <span>店铺管理</span>
                </a>
            </li>
            <li>
                <a href="/admin/account">
                    <i class="icon-user"></i>
                    <span>买号管理</span>
                </a>
            </li>
            <li>
                <a href="/admin/pv">
                    <i class="icon-user"></i>
                    <span>流量管理</span>
                </a>
            </li>
        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>
<!--sidebar end-->
