<% include ./index_header.html %>
<section id="container" ng-controller="moneyInCtrl">
    <% include ./index_nav.html %>
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
                <section class="panel">
                    <header class="panel-heading">
                        充值管理
                    </header>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <p>
                                    ID: <input type="text" ng-model="filter.id" style="width: 50px;"/> &nbsp;
                                    用户: <input type="text" ng-model="filter.username" style="width: 100px;"/> &nbsp;
                                    类型: <select name="" ng-model="filter.moneyType">
                                    <option value="">全部</option><option value="0">金币</option><option value="1">押金</option></select> &nbsp;
                                    状态: <select name="" ng-model="filter.moneyStatus">
                                    <option value="">全部</option><option value="0">待审核</option><option value="1">通过</option><option value="-1">拒绝</option></select> &nbsp;
                                    平台: <select name="" ng-model="filter.moneyPlatform">
                                    <option value="">全部</option><option value="kuaiqian">快钱</option><option value="alipay">支付宝</option></select> &nbsp;
                                    订单号: <input type="text" ng-model="filter.moneyOrder" style="width: 100px;"/> &nbsp;
                                    <button class="btn btn-success btn-xs" ng-click="search()">查询</button>
                                </p>
                            </div>
                        </div>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>用户</th>
                                <th>金额</th>
                                <th>类型</th>
                                <th>状态</th>
                                <th>平台</th>
                                <th>订单号</th>
                                <th>创建时间</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tr ng-repeat="d in data">
                                <td>{{d.id}}</td>
                                <td>{{d.username}}</td>
                                <td>{{d.moneyValue | number: 2}}</td>
                                <td>{{statusMap.type[d.moneyType]}}</td>
                                <td>{{statusMap.status[d.moneyStatus]}}</td>
                                <td>{{statusMap.platform[d.moneyPlatform]}}</td>
                                <td>{{d.moneyOrder}}</td>
                                <td>{{d.moneyCreateTime | date: 'yyyy-MM-dd HH:mm'}}</td>
                                <td>
                                    <button class="btn btn-success" ng-click="pass(d)" ng-if="d.moneyStatus == 0">通过</button>
                                    <button class="btn btn-danger" ng-click="unpass(d)" ng-if="d.moneyStatus == 0">拒绝</button>
                                    <button class="btn btn-default" ng-if="d.moneyStatus != 0">通过</button>
                                    <button class="btn btn-default" ng-if="d.moneyStatus != 0">拒绝</button>
                                </td>
                            </tr>
                        </table>
                        <div class="text-center">
                            <ul class="pagination">
                                <li ng-if="page != 1"><a ng-click="changePage(page-1)" href="javascript:;;;">«</a></li>
                                <li ng-repeat="t in totalPage"><a href="javascript:;;;" ng-click="changePage(t)">{{t}}</a></li>
                                <li ng-if="page != total"><a ng-click="changePage(page+1)" href="javascript:;;;">»</a></li>
                            </ul>
                        </div>
                    </div>
                </section>
        </section>
    </section>
    <!--main content end-->
</section>
<% include ./index_footer.html %>
