<% include ./index_header.html %>
<section id="container" ng-controller="buyerCtrl">
    <% include ./index_nav.html %>
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
                <section class="panel">
                    <header class="panel-heading">
                        买手管理
                    </header>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <p>
                                    ID: <input type="text" ng-model="filter.id" style="width: 50px;"/> &nbsp;
                                    账号: <input type="text" ng-model="filter.username" style="width: 100px;"/> &nbsp;
                                    等级: <select name="" ng-model="filter.status">
                                    <option value="">全部</option><option value="1">游客</option><option value="2">会员</option></select> &nbsp;
                                    电话: <input type="text" ng-model="filter.phone" style="width: 100px;"/> &nbsp;
                                    QQ: <input type="text" ng-model="filter.qq" style="width: 100px;"/> &nbsp;
                                    <button class="btn btn-success btn-xs" ng-click="search()">查询</button>
                                </p>
                            </div>
                        </div>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>账号</th>
                                <th>等级</th>
                                <th>电话</th>
                                <th>QQ</th>
                                <th>所在地</th>
                                <th>金币</th>
                                <th>本金</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tr ng-repeat="user in users">
                                <td>{{user.id}}</td>
                                <td>{{user.username}}</td>
                                <td>
                                    <p>
                                        {{statusMap.status[user.status]}}
                                    </p>
                                    <p>{{user.vipExprie | date: 'yyyy-MM-dd'}}</p>
                                </td>
                                <td>{{user.phone}}</td>
                                <td>{{user.qq}}</td>
                                <td>{{user.province}}{{user.city}}{{user.area}}</td>
                                <td>{{user.coin}}</td>
                                <td>{{user.money}}</td>
                                <td>
                                    <p>
                                        <button class="btn btn-success btn-xs" ng-click="addMoney(user)">修改押金</button>
                                        <button class="btn btn-success btn-xs" ng-click="addCoin(user)">修改金币</button>
                                    </p>
                                    <p>
                                        <button class="btn btn-success btn-xs" ng-click="editPassword(user)">修改密码</button>
                                        <button class="btn btn-success btn-xs" ng-click="editTradePassword(user)">修改支付密码</button>
                                    </p>
                                    <p>
                                        <button class="btn btn-xs btn-success" ng-click="member(user)">升级会员</button>
                                    </p>
                                </td>
                            </tr>
                        </table>
                        <div class="text-center">
                            <ul class="pagination">
                                <li ng-if="page != 1"><a ng-click="changePage(page-1)" href="javascript:;;;">«</a></li>
                                <li ng-repeat="t in totalPage"><a href="javascript:;;;" ng-click="changePage(t)">{{t}}</a></li>
                                <li ng-if="page != total"><a ng-click="changePage(page+1)" href="javascript:;;;">»</a></li>
                            </ul>
                        </div>
                    </div>
                </section>
        </section>
    </section>
    <!--main content end-->
</section>
<% include ./index_footer.html %>
