<% include ./index_header.html %>
<section id="container" ng-controller="sellerCtrl">
    <% include ./index_nav.html %>
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
                <section class="panel">
                    <header class="panel-heading">
                        商家管理
                    </header>
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>id</th>
                                <th>账号</th>
                                <th>名字</th>
                                <th>电话</th>
                                <th>QQ</th>
                                <th>所在地</th>
                                <th>金币</th>
                                <th>本金</th>
                                <th>流量</th>
                            </tr>
                            </thead>
                            <tr ng-repeat="user in users">
                                <td>{{user.id}}</td>
                                <td>{{user.username}}</td>
                                <td>{{user.realName}}</td>
                                <td>{{user.phone}}</td>
                                <td>{{user.qq}}</td>
                                <td>{{user.province}}{{user.city}}{{user.area}}</td>
                                <td>{{user.coin}}</td>
                                <td>{{user.money}}</td>
                                <td>{{user.pv}}</td>
                            </tr>
                        </table>
                        <div class="text-center">
                            <ul class="pagination">
                                <li ng-if="page != 1"><a ng-click="changePage(page-1)" href="javascript:;;;">«</a></li>
                                <li ng-repeat="t in totalPage"><a href="javascript:;;;" ng-click="changePage(t)">{{t}}</a></li>
                                <li ng-if="page != total"><a ng-click="changePage(page+1)" href="javascript:;;;">»</a></li>
                            </ul>
                        </div>
                    </div>
                </section>
        </section>
    </section>
    <!--main content end-->
</section>
<% include ./index_footer.html %>
