<% include ../common_header.html %>
<section id="container">
    <% include ./seller_nav.html %>
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
                <section class="panel">
                    <header class="panel-heading">
                        账户金币充值
                    </header>
                    <header class="panel-heading" style="font-size: 12px;">
                        <i class="icon-ok-sign"></i>&nbsp;目前您账户剩余金币8个， 可接手8个任务；如需接手更多任务，请先充值购买金币；购买的金币作为接手任务的押金冻结；任务完成之后会自动解冻。
                    </header>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                1.选择套餐
                            </div>
                        </div>
                        <div class="row" style="margin-top: 30px">
                            <div class="col-lg-2">
                                <div class="box-money active">
                                    <div class="title-money">10金币迷你包</div>
                                    <div class="content-money">10元</div>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="box-money">
                                    <div class="title-money">20金币标准包</div>
                                    <div class="content-money">20元</div>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="box-money">
                                    <div class="title-money">40金币高级包</div>
                                    <div class="content-money">40元</div>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="box-money">
                                    <div class="title-money">100金币豪华包</div>
                                    <div class="content-money">100元</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <i class="icon-ok-sign"></i>&nbsp;您已经选择购买 <span class="coin">10</span>金币体验包 需支付: <span class="coin error">10</span>元
                            </div>
                        </div>
                        <div class="row" style="margin-top: 30px;">
                            <div class="col-lg-12">
                                2.选择支付方式
                            </div>
                        </div>
                        <div class="row" style="margin-top: 30px;">
                            <div class="col-lg-2">
                                <div class="box-pay active">
                                    <div class="title-pay">快钱</div>
                                    <div class="content-pay">
                                        <img src="/resource/img/paycenter.gif" alt="" width="100%"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="box-pay">
                                    <div class="title-pay">支付宝</div>
                                    <div class="content-pay">
                                        <img src="/resource/img/paycenter.gif" alt="" width="100%"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 30px">
                            <div class="col-lg-12">
                                <button class="btn btn-info">确认</button>
                            </div>
                        </div>
                    </div>
                </section>
        </section>
        <section class="panel">
            <header class="panel-heading">
                资金记录
            </header>
            <div class="panel-body">
                <header class="panel-heading tab-bg-blue">
                    <ul class="nav nav-tabs nav-justified ">
                        <li class="active">
                            <a href="#withdraw" data-toggle="tab">
                                提现记录
                            </a>
                        </li>
                        <li>
                            <a href="#coin" data-toggle="tab">
                                金币记录
                            </a>
                        </li>
                        <li class="">
                            <a href="#money" data-toggle="tab">
                                本金记录
                            </a>
                        </li>
                        <li class="">
                            <a href="#pay" data-toggle="tab">
                                佣金记录
                            </a>
                        </li>
                        <li class="">
                            <a href="#user" data-toggle="tab">
                                会员记录
                            </a>
                        </li>
                    </ul>
                </header>
                <div class="panel-body">
                    <div class="tab-content tasi-tab">
                        <div class="tab-pane active" id="withdraw">
                            <article class="media box">
                                <a class="pull-left thumb p-thumb">
                                    <img src="/resource/uploads/20151/1e28e_3226e54d-30b0-4084-839a-b54e52b7f145.png">
                                </a>

                                <div class="media-body">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <span class=" p-head">迪尼贝儿旗舰店</span>
                                        </div>
                                        <div class="col-lg-6">
                                            <span>
                                                任务编号： 1426916094633
                                                <a href="">
                                                    [详情]
                                                </a>
                                                发布时间：2015-03-21 13:3
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <span class="label label-primary">平台返款</span>
                                            迪尼贝儿新生儿纯棉包被婴儿抱被抱毯盖被子春秋夏款薄款幼儿用品
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    进行中(0)|待发货(0)
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    未接单(0)|已完成(0)
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <a href=""
                                               class="btn btn-warning">一键发布</a>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article class="media box">
                                <a class="pull-left thumb p-thumb">
                                    <img src="/resource/uploads/20151/1e28e_3226e54d-30b0-4084-839a-b54e52b7f145.png">
                                </a>

                                <div class="media-body">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <span class=" p-head">迪尼贝儿旗舰店</span>
                                        </div>
                                        <div class="col-lg-6">
                                            <span>
                                                任务编号： 1426916094633
                                                <a href="">
                                                    [详情]
                                                </a>
                                                发布时间：2015-03-21 13:3
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <span class="label label-primary">平台返款</span>
                                            迪尼贝儿新生儿纯棉包被婴儿抱被抱毯盖被子春秋夏款薄款幼儿用品
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    进行中(0)|待发货(0)
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    未接单(0)|已完成(0)
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <a href=""
                                               class="btn btn-warning">一键发布</a>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article class="media box">
                                <a class="pull-left thumb p-thumb">
                                    <img src="/resource/uploads/20151/1e28e_3226e54d-30b0-4084-839a-b54e52b7f145.png">
                                </a>

                                <div class="media-body">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <span class=" p-head">迪尼贝儿旗舰店</span>
                                        </div>
                                        <div class="col-lg-6">
                                            <span>
                                                任务编号： 1426916094633
                                                <a href="">
                                                    [详情]
                                                </a>
                                                发布时间：2015-03-21 13:3
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <span class="label label-primary">平台返款</span>
                                            迪尼贝儿新生儿纯棉包被婴儿抱被抱毯盖被子春秋夏款薄款幼儿用品
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    进行中(0)|待发货(0)
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    未接单(0)|已完成(0)
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <a href=""
                                               class="btn btn-warning">一键发布</a>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article class="media box">
                                <a class="pull-left thumb p-thumb">
                                    <img src="/resource/uploads/20151/1e28e_3226e54d-30b0-4084-839a-b54e52b7f145.png">
                                </a>

                                <div class="media-body">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <span class=" p-head">迪尼贝儿旗舰店</span>
                                        </div>
                                        <div class="col-lg-6">
                                            <span>
                                                任务编号： 1426916094633
                                                <a href="">
                                                    [详情]
                                                </a>
                                                发布时间：2015-03-21 13:3
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <span class="label label-primary">平台返款</span>
                                            迪尼贝儿新生儿纯棉包被婴儿抱被抱毯盖被子春秋夏款薄款幼儿用品
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    进行中(0)|待发货(0)
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    未接单(0)|已完成(0)
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <a href=""
                                               class="btn btn-warning">一键发布</a>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="tab-pane" id="coin">
                        </div>
                        <div class="tab-pane " id="money">
                            Recent Item goes here
                        </div>
                        <div class="tab-pane " id="pay">
                            Recent Item goes here
                        </div>
                        <div class="tab-pane " id="user">
                            Recent Item goes here
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
    <!--main content end-->
</section>
<% include ../common_footer.html %>
<script>
    $('.box-money').click(function() {
        var self = $(this);
        $('.box-money').removeClass('active');
        self.addClass('active');
    });

    $('.box-pay').click(function() {
        var self = $(this);
        $('.box-pay').removeClass('active');
        self.addClass('active');
    });
</script>
