<% include ../common_header.html %>
<section id="container">
    <% include ./seller_nav.html %>
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
                <section class="panel">
                    <header class="panel-heading">
                        账户金币充值
                    </header>
                    <div class="panel-body">
                        <header class="panel-heading tab-bg-blue">
                            <ul class="nav nav-tabs nav-justified">
                                <li class="active">
                                    <a href="#paymoney" data-toggle="tab">账户押金充值</a>
                                </li>
                                <li>
                                    <a href="#paycoin" data-toggle="tab">账户金币充值</a>
                                </li>
                                <li>
                                    <a href="#paypv" data-toggle="tab">账户流量充值</a>
                                </li>
                            </ul>
                        </header>
                        <div class="panel-body">
                            <div class="tab-content tasi-tab">
                                <div class="tab-pane active" id="paymoney">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            选择支付方式
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 30px;">
                                        <div class="col-lg-2">
                                            <div class="box-pay active" data-data="kuaiqian">
                                                <div class="title-pay">快钱</div>
                                                <div class="content-pay">
                                                    <img src="/resource/img/paycenter.gif" alt="" width="100%"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="box-pay" data-data="alipay">
                                                <div class="title-pay">支付宝</div>
                                                <div class="content-pay">
                                                    <img src="/resource/img/paycenter.gif" alt="" width="100%"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row form-horizontal" style="margin-top: 30px">
                                        <div class="form-group">
                                            <label class="control-label col-lg-1">账户余额</label>
                                            <span class="control-label col-lg-2 error"><%= cUser.money %>元</span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-lg-1">充值金额</label>
                                            <div class="col-lg-2">
                                                <input type="text" class="form-control" value="500" id="pay-money-value"/>
                                            </div>
                                            <label class="control-label col-lg-2">最低1元起充,且为整数</label>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 30px">
                                        <div class="col-lg-12">
                                            <button class="btn btn-info" id="btn-pay-money">确认</button>
                                        </div>
                                    </div>

                                </div>
                                <div class="tab-pane" id="paycoin">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            1.选择套餐
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 30px">
                                        <div class="col-lg-2">
                                            <div class="box-money active" data-data="100">
                                                <div class="title-money">100金币体验包</div>
                                                <div class="content-money">100元</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="box-money" data-data="500">
                                                <div class="title-money">500金币标准包</div>
                                                <div class="content-money">500元</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="box-money" data-data="1000">
                                                <div class="title-money">1000金币高级包</div>
                                                <div class="content-money">1000元</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="box-money" data-data="2000">
                                                <div class="title-money">2000金币豪华包</div>
                                                <div class="content-money">2000元</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 30px;">
                                        <div class="col-lg-12">
                                            2.选择支付方式
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 30px;">
                                        <div class="col-lg-2">
                                            <div class="box-pay active" data-data="kuaiqian">
                                                <div class="title-pay">快钱</div>
                                                <div class="content-pay">
                                                    <img src="/resource/img/paycenter.gif" alt="" width="100%"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="box-pay" data-data="alipay">
                                                <div class="title-pay">支付宝</div>
                                                <div class="content-pay">
                                                    <img src="/resource/img/paycenter.gif" alt="" width="100%"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 30px">
                                        <div class="col-lg-12">
                                            <button class="btn btn-info" id="btn-pay-coin">确认</button>
                                        </div>
                                    </div>

                                </div>
                                <div class="tab-pane" id="paypv">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            1.选择套餐
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 30px">
                                        <div class="col-lg-4">
                                            <div class="box-money" data-data="100">
                                                <div class="title-money">支付 <span class="error">100</span>金币</div>
                                                <div class="content-money">购买 <span class="error">400</span> 访客体验包</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="box-money" data-data="1000">
                                                <div class="title-money">支付 <span class="error">1000</span>金币</div>
                                                <div class="content-money">购买 <span class="error">5,000</span> 访客流量包</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="box-money active" data-data="2000">
                                                <div class="title-money">支付 <span class="error">2000</span>金币</div>
                                                <div class="content-money">购买 <span class="error">11,428</span> 访客流量包</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="box-money" data-data="5000">
                                                <div class="title-money">支付 <span class="error">5000</span>金币</div>
                                                <div class="content-money">购买 <span class="error">33,333</span> 访客流量包</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="box-money" data-data="10000">
                                                <div class="title-money">支付 <span class="error">10,000</span>金币</div>
                                                <div class="content-money">购买 <span class="error">80,000</span> 访客流量包</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="box-money" data-data="20000">
                                                <div class="title-money">支付 <span class="error">20,000</span>金币</div>
                                                <div class="content-money">购买 <span class="error">200,000</span> 访客流量包</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 30px;">
                                        <div class="col-lg-12">
                                            2.选择支付方式
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 30px;">
                                        <div class="col-lg-2">
                                            <div class="box-pv active" data-data="coin">
                                                <div class="title-pay">金币</div>
                                                <div class="content-pay">
                                                    <img src="/resource/img/paycenter.gif" alt="" width="100%"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="box-pv" data-data="money">
                                                <div class="title-pay">押金</div>
                                                <div class="content-pay">
                                                    <img src="/resource/img/paycenter.gif" alt="" width="100%"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 30px">
                                        <div class="col-lg-12">
                                            <button class="btn btn-info" id="btn-pay-pv">确认</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </section>
        </section>
        <section class="panel">
            <header class="panel-heading">
                资金记录
            </header>
            <div class="panel-body">
                <header class="panel-heading tab-bg-blue">
                    <ul class="nav nav-tabs nav-justified ">
                        <li class="active">
                            <a href="#withdraw" data-toggle="tab">
                                提现记录
                            </a>
                        </li>
                        <li>
                            <a href="#coin" data-toggle="tab">
                                金币记录
                            </a>
                        </li>
                        <li class="">
                            <a href="#money" data-toggle="tab">
                                押金记录
                            </a>
                        </li>
                        <li class="">
                            <a href="#pv" data-toggle="tab">
                                流量记录
                            </a>
                        </li>
                        <li class="">
                            <a href="#member" data-toggle="tab">
                                会员记录
                            </a>
                        </li>
                    </ul>
                </header>
                <div class="panel-body">
                    <div class="tab-content tasi-tab">
                        <div class="tab-pane active" id="withdraw" ng-controller="sellerLogWithdrawCtrl">
                            <div class="alert alert-warning" ng-if="data.length == 0">暂无数据</div>
                            <table class="table" ng-if="data.length != 0">
                                <thead>
                                <tr>
                                    <th>金额</th>
                                    <th>申请时间</th>
                                    <th>状态</th>
                                    <th>备注</th>
                                </tr>
                                </thead>
                                <tr ng-repeat="d in data">
                                    <td>{{d.id}}</td>
                                    <td>{{d.username}}</td>
                                    <td>{{statusMap.status[d.accountStatus]}}</td>
                                    <td>{{statusMap.platform[d.accountPlatform]}}</td>
                                </tr>
                            </table>
                            <div class="text-center">
                                <ul class="pagination">
                                    <li ng-if="page != 1"><a ng-click="changePage(page-1)" href="javascript:;;;">«</a></li>
                                    <li ng-repeat="t in totalPage"><a href="javascript:;;;" ng-click="changePage(t)">{{t}}</a></li>
                                    <li ng-if="page != total"><a ng-click="changePage(page+1)" href="javascript:;;;">»</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="tab-pane" id="coin" ng-controller="sellerLogCoinCtrl">
                            <div class="alert alert-warning" ng-if="data.length == 0">暂无数据</div>
                            <table class="table" ng-if="data.length != 0">
                                <thead>
                                <tr>
                                    <th>时间</th>
                                    <th>收入</th>
                                    <th>支出</th>
                                    <th>结余</th>
                                    <th>备注</th>
                                </tr>
                                </thead>
                                <tr ng-repeat="d in data" ng-if="d.logCoin != 0">
                                    <td>{{d.logCoinCreateTime | date: 'yyyy-MM-dd HH:mm'}}</td>
                                    <td><span class="error" ng-if="d.logCoinType == 1">{{d.logCoin}}</span></td>
                                    <td><span class="error" ng-if="d.logCoinType == -1">{{d.logCoin}}</span></td>
                                    <td><span class="error">{{d.logCoinBalance}}</span></td>
                                    <td>{{d.logCoinComment}}</td>
                                </tr>
                            </table>
                            <div class="text-center">
                                <ul class="pagination">
                                    <li ng-if="page != 1"><a ng-click="changePage(page-1)" href="javascript:;;;">«</a></li>
                                    <li ng-repeat="t in totalPage"><a href="javascript:;;;" ng-click="changePage(t)">{{t}}</a></li>
                                    <li ng-if="page != total"><a ng-click="changePage(page+1)" href="javascript:;;;">»</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="tab-pane " id="money" ng-controller="sellerLogMoneyCtrl">
                            <div class="alert alert-warning" ng-if="data.length == 0">暂无数据</div>
                        </div>
                        <div class="tab-pane " id="pv" ng-controller="sellerLogPVCtrl">
                            <div class="alert alert-warning" ng-if="data.length == 0">暂无数据</div>
                        </div>
                        <div class="tab-pane " id="member" ng-controller="sellerLogMemberCtrl">
                            <div class="alert alert-warning" ng-if="data.length == 0">暂无数据</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
    <!--main content end-->
</section>
<% include ../common_footer.html %>
<script>
    //todo:这里有个bug，选择box重复了
    $('.box-money').click(function() {
        var self = $(this);
        $('.box-money').removeClass('active');
        self.addClass('active');
    });

    $('.box-pay').click(function() {
        var self = $(this);
        $('.box-pay').removeClass('active');
        self.addClass('active');
    });

    $('.box-pv').click(function() {
        var self = $(this);
        self.toggleClass('active');
    });

    //获取支付方式
    function getPayMethod(element) {
        return $(element).find('.box-pay.active').attr('data-data');
    }

    //押金充值
    (function() {
        $('#btn-pay-money').click(function() {
            //支付方式
            var payMethod = getPayMethod('#paymoney');

            //支付金额
            var payMoney = $('#pay-money-value').val();

            if (payMoney < 1) {
                alert('最低1元起充');
                return false;
            }

            if (payMethod == 'kuaiqian') {
                window.open('/seller/money/kuaiqian?type=1&value=' + payMoney);
            } else if (payMethod == 'alipay') {
                location.href = '/seller/money/alipay?type=1&value=' + payMoney;
            }
        })
    })();

    //金币充值
    (function() {
        $('#btn-pay-coin').click(function() {
            //支付方式
            var payMethod = getPayMethod('#paycoin');

            //支付金币
            var payCoin= $('#paycoin .box-money.active').attr('data-data');

            if (payCoin < 1) {
                alert('最低1元起充');
                return false;
            }

            if (payMethod == 'kuaiqian') {
                window.open('/seller/money/kuaiqian?type=0&value=' + payCoin);
            } else if (payMethod == 'alipay') {
                location.href = '/seller/money/alipay?type=0&value=' + payCoin;
            }
        })
    })();

    //流量充值
    (function() {
        $('#btn-pay-pv').click(function() {
            //支付方式
            var active = $('#paypv .box-pv.active');
            var payMethod = '';

            if (active.length == 0) {
                alert('请选择一种支付方式');
                return false;
            } else if (active.length == 1) {
                payMethod = active.attr('data-data');
            } else {
                payMethod = 'coin,money';
            }




            //支付金币
            var payPV = $('#paypv .box-money.active').attr('data-data');

            if (payPV < 100) {
                alert('最低100元起充');
                return false;
            }

            $.post('/seller/money/pv', {payMethod: payMethod, payPV: payPV}, function(res) {
                if (res.errno == 0) {
                    alert(res.data);
                    location.href = '/seller';
                } else {
                    Yi.error(res);
                }
            })
        })
    })();
</script>
