<% include ../common_header.html %>
<link rel="stylesheet" href="/resource/css/tasks.css"/>
<section id="container" ng-controller="publishCtrl">
    <% include ./seller_nav.html %>
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <section class="panel">
                <header class="panel-heading">
                    任务进度
                </header>
                <div class="panel-body">
                    <div class="row" style="margin: 30px ;">
                        <div class="col-lg-10 col-lg-offset-1">
                            <div class="stepWrapper mt30">
                                <div class="stepWaiting" style="position:absolute;top:0;left:-5px;"><div class="stepOn">1</div><div class="caption" style="width:72px;margin-left:-36px;">选择任务类型</div></div>
                                <div class="stepWaiting" style="margin-left:22%;">2<div class="caption" style="width:72px;margin-left:-36px;">填写商品信息</div></div>
                                <div class="stepWaiting" style="margin-left:22%;">
                                    3
                                    <div class="caption" style="width:72px;margin-left:-36px;">填写刷单数量</div>
                                </div>
                                <div class="stepWaiting" style="margin-left:22%;">
                                    4
                                    <div class="caption" style="width:60px;margin-left:-30px;">选增值服务</div>
                                </div>
                                <div class="stepWaiting" style="position:absolute;top:0;right:-5px;">
                                    5
                                    <div class="caption" style="width:48px;margin-left:-24px;">支付</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="panel">
                <header class="panel-heading">
                    第一步：选择任务类型
                </header>
                <div class="panel-body">
                    <div class="row" id="platform">
                        <h4 class="col-lg-2">选择平台</h4>
                        <div class="col-lg-4">
                            <button class="btn" ng-class="platform=='taobao'?'btn-info':'btn-default'" ng-click="platform='taobao'">淘宝</button>
                            <button class="btn" ng-class="platform=='tmall'?'btn-info':'btn-default'" ng-click="platform='tmall'">天猫</button>
                            <button class="btn" ng-class="platform=='jd'?'btn-info':'btn-default'" ng-click="platform='jd'">京东</button>
                            <!--<button class="btn" ng-class="platform=='mogujie'?'btn-info':'btn-default'" ng-click="platform='mogujie'">蘑菇街</button>-->
                        </div>
                    </div>
                    <div class="row" id="shop">
                        <h4 class="col-lg-2">选择店铺</h4>
                        <div class="col-lg-4">
                            <button ng-click="changeShopId(shop.id)" class="btn" ng-class="shopId==shop.id?'btn-info':'btn-default'" ng-repeat="shop in shops" ng-show="shop.shopPlatform == platform">
                                {{shop.shopName}}
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <h4 class="col-lg-2">选择类型</h4>
                        <div class="col-lg-4">
                            <button class="btn" ng-click="publishType='index'" ng-class="publishType=='index'?'btn-info':'btn-default'" >订单</button>
                            <button class="btn" ng-click="publishType='juhuasuan'"  ng-show="platform=='taobao'||platform=='tmall'"ng-class="publishType=='juhuasuan'?'btn-info':'btn-default'">聚划算</button>
                            <button class="btn" ng-click="publishType='zhitongche'" ng-show="platform=='taobao'||platform=='tmall'" ng-class="publishType=='zhitongche'?'btn-info':'btn-default'">直通车</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2 col-lg-offset-2">
                            <button class="btn btn-success" ng-click="next()">下一步</button>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </section>
    <!--main content end-->
</section>
<% include ../common_footer.html %>
