<% include ../common_header.html %>
<section id="container">
    <% include ./seller_nav.html %>
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <section class="panel">
                <header class="panel-heading">
                    待处理任务
                    <a href="" class="pull-right"><span class="error"><i
                            class="icon-ok-sign"></i>&nbsp;我要做任务</span></a>
                </header>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-4">
                            <!--widget start-->
                            <aside class="profile-nav alt blue-border">
                                <section class="panel">
                                    <div class="user-heading alt blue-bg">
                                        <h1>已接手，待付款</h1>

                                        <p><i class="icon-ok-sign"></i> &nbsp;请尽快开始并在要求时间内完成
                                        </p>
                                    </div>

                                    <ul class="nav nav-pills nav-stacked">
                                        <li><a href="javascript:;"> 淘宝<span
                                                class="label label-primary pull-right r-activity">9</span></a>
                                        </li>
                                        <li><a href="javascript:;"> 天猫<span
                                                class="label label-primary pull-right r-activity">1</span></a>
                                        </li>
                                        <li><a href="javascript:;"> 京东 <span
                                                class="label label-primary pull-right r-activity">3</span></a>
                                        </li>
                                    </ul>

                                </section>
                            </aside>
                            <!--widget end-->
                        </div>
                        <div class="col-lg-4">
                            <!--widget start-->
                            <aside class="profile-nav alt blue-border">
                                <section class="panel">
                                    <div class="user-heading alt blue-bg">
                                        <h1>快递单已打印，待确认收货</h1>

                                        <p><i class="icon-ok-sign"></i> &nbsp;请待快递状态变为已签收后再确认收货并好评
                                        </p>
                                    </div>

                                    <ul class="nav nav-pills nav-stacked">
                                        <li><a href="javascript:;"> 淘宝收货</a>
                                        </li>
                                        <li><a href="javascript:;"> 天猫收货</a>
                                        </li>
                                        <li><a href="javascript:;"> 京东收货</a>
                                        </li>
                                    </ul>

                                </section>
                            </aside>
                            <!--widget end-->
                        </div>
                        <div class="col-lg-4">
                            <!--widget start-->
                            <aside class="profile-nav alt blue-border">
                                <section class="panel">
                                    <div class="user-heading alt blue-bg">
                                        <h1>商家已退款，等待买手确认</h1>

                                        <p><i class="icon-ok-sign"></i> &nbsp;商家预计在48小时内退款完毕，请等待退款到账
                                        </p>
                                    </div>

                                    <ul class="nav nav-pills nav-stacked">
                                        <li><a href="javascript:;"> 淘宝退款</a>
                                        </li>
                                        <li><a href="javascript:;"> 天猫退款</a>
                                        </li>
                                        <li><a href="javascript:;"> 京东退款</a>
                                        </li>
                                    </ul>

                                </section>
                            </aside>
                            <!--widget end-->
                        </div>
                    </div>
                </div>
            </section>
            <section class="panel">
                <header class="panel-heading">
                    任务进展
                </header>
                <div class="panel-body">
                    <header class="panel-heading tab-bg-blue">
                        <ul class="nav nav-tabs nav-justified ">
                            <li class="active">
                                <a href="#doing" data-toggle="tab">
                                    进行中的任务
                                </a>
                            </li>
                            <li>
                                <a href="#done" data-toggle="tab">
                                    已完成的任务
                                </a>
                            </li>
                            <li class="">
                                <a href="#cancel" data-toggle="tab">
                                    已取消的任务
                                </a>
                            </li>
                            <li class="">
                                <a href="#all" data-toggle="tab">
                                    全部任务
                                </a>
                            </li>
                        </ul>
                    </header>
                    <div class="panel-body">
                        <div class="tab-content tasi-tab">
                            <div class="tab-pane active" id="doing">
                                <article class="media box">
                                    <a class="pull-left thumb p-thumb">
                                        <img src="/resource/uploads/20151/1e28e_3226e54d-30b0-4084-839a-b54e52b7f145.png">
                                    </a>

                                    <div class="media-body">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <span class=" p-head">迪尼贝儿旗舰店</span>
                                            </div>
                                            <div class="col-lg-6">
                                            <span>
                                                任务编号： 1426916094633
                                                <a href="">
                                                    [详情]
                                                </a>
                                                发布时间：2015-03-21 13:3
                                            </span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <span class="label label-primary">平台返款</span>
                                                迪尼贝儿新生儿纯棉包被婴儿抱被抱毯盖被子春秋夏款薄款幼儿用品
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        进行中(0)|待发货(0)
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        未接单(0)|已完成(0)
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-2">
                                                <a href=""
                                                   class="btn btn-warning">一键发布</a>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                                <article class="media box">
                                    <a class="pull-left thumb p-thumb">
                                        <img src="/resource/uploads/20151/1e28e_3226e54d-30b0-4084-839a-b54e52b7f145.png">
                                    </a>

                                    <div class="media-body">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <span class=" p-head">迪尼贝儿旗舰店</span>
                                            </div>
                                            <div class="col-lg-6">
                                            <span>
                                                任务编号： 1426916094633
                                                <a href="">
                                                    [详情]
                                                </a>
                                                发布时间：2015-03-21 13:3
                                            </span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <span class="label label-primary">平台返款</span>
                                                迪尼贝儿新生儿纯棉包被婴儿抱被抱毯盖被子春秋夏款薄款幼儿用品
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        进行中(0)|待发货(0)
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        未接单(0)|已完成(0)
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-2">
                                                <a href=""
                                                   class="btn btn-warning">一键发布</a>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                                <article class="media box">
                                    <a class="pull-left thumb p-thumb">
                                        <img src="/resource/uploads/20151/1e28e_3226e54d-30b0-4084-839a-b54e52b7f145.png">
                                    </a>

                                    <div class="media-body">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <span class=" p-head">迪尼贝儿旗舰店</span>
                                            </div>
                                            <div class="col-lg-6">
                                            <span>
                                                任务编号： 1426916094633
                                                <a href="">
                                                    [详情]
                                                </a>
                                                发布时间：2015-03-21 13:3
                                            </span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <span class="label label-primary">平台返款</span>
                                                迪尼贝儿新生儿纯棉包被婴儿抱被抱毯盖被子春秋夏款薄款幼儿用品
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        进行中(0)|待发货(0)
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        未接单(0)|已完成(0)
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-2">
                                                <a href=""
                                                   class="btn btn-warning">一键发布</a>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                                <article class="media box">
                                    <a class="pull-left thumb p-thumb">
                                        <img src="/resource/uploads/20151/1e28e_3226e54d-30b0-4084-839a-b54e52b7f145.png">
                                    </a>

                                    <div class="media-body">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <span class=" p-head">迪尼贝儿旗舰店</span>
                                            </div>
                                            <div class="col-lg-6">
                                            <span>
                                                任务编号： 1426916094633
                                                <a href="">
                                                    [详情]
                                                </a>
                                                发布时间：2015-03-21 13:3
                                            </span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <span class="label label-primary">平台返款</span>
                                                迪尼贝儿新生儿纯棉包被婴儿抱被抱毯盖被子春秋夏款薄款幼儿用品
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        进行中(0)|待发货(0)
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        未接单(0)|已完成(0)
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-2">
                                                <a href=""
                                                   class="btn btn-warning">一键发布</a>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <div class="tab-pane" id="done">
                            </div>
                            <div class="tab-pane " id="cancel">
                                Recent Item goes here
                            </div>
                            <div class="tab-pane " id="all">
                                Recent Item goes here
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </section>
    <!--main content end-->
</section>
<% include ../common_footer.html %>
