<% include ../common_header.html %>
<section id="container" ng-controller="sellerTasksCtrl">
    <% include ./seller_nav.html %>
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <section class="panel">
                <header class="panel-heading">
                    待处理任务
                    <a href="/seller/publish" class="pull-right"><span class="error"><i
                            class="icon-ok-sign"></i>&nbsp;我要发任务</span></a>
                </header>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-4">
                            <!--widget start-->
                            <aside class="profile-nav alt blue-border">
                                <section class="panel">
                                    <div class="user-heading alt blue-bg">
                                        <h1>买手已付款，自选快递待发货</h1>

                                        <p><i class="icon-ok-sign"></i> &nbsp;请及时填写快递号到对应平台操作订单发货
                                        </p>
                                    </div>

                                    <ul class="nav nav-pills nav-stacked">
                                        <li><a href="/seller/tasks/zixuan"> 淘宝<span
                                                class="label label-primary pull-right r-activity">{{taobaoZixuans.length}}</span></a>
                                        </li>
                                        <li><a href="/seller/tasks/zixuan"> 天猫<span
                                                class="label label-primary pull-right r-activity">{{tmallZixuans.length}}</span></a>
                                        </li>
                                        <li><a href="/seller/tasks/zixuan"> 京东 <span
                                                class="label label-primary pull-right r-activity">{{jdZixuans.length}}</span></a>
                                        </li>
                                    </ul>

                                </section>
                            </aside>
                            <!--widget end-->
                        </div>
                        <div class="col-lg-4">
                            <!--widget start-->
                            <aside class="profile-nav alt blue-border">
                                <section class="panel">
                                    <div class="user-heading alt blue-bg">
                                        <h1>买手已付款，待发货</h1>

                                        <p><i class="icon-ok-sign"></i> &nbsp;请及时复制快递号到对应平台操作订单发货
                                        </p>
                                    </div>

                                    <ul class="nav nav-pills nav-stacked">
                                        <li><a href="/seller/tasks/baoyou">淘宝<span
                                                class="label label-primary pull-right r-activity">{{taobaoBaoyous.length}}</span></a>
                                        </li>
                                        <li><a href="/seller/tasks/baoyou">天猫<span
                                                class="label label-primary pull-right r-activity">{{tmallBaoyous.length}}</span></a>
                                        </li>
                                        <li><a href="/seller/tasks/baoyou">京东<span
                                                class="label label-primary pull-right r-activity">{{jdBaoyous.length}}</span></a>
                                        </li>
                                    </ul>

                                </section>
                            </aside>
                            <!--widget end-->
                        </div>
                        <div class="col-lg-4">
                            <!--widget start-->
                            <aside class="profile-nav alt blue-border">
                                <section class="panel">
                                    <div class="user-heading alt blue-bg">
                                        <h1>买手已收货，待退款</h1>

                                        <p><i class="icon-ok-sign"></i> &nbsp;请在48小时内给买手退款
                                        </p>
                                    </div>

                                    <ul class="nav nav-pills nav-stacked">
                                        <li><a href="/seller/tasks/tuikuan"> 淘宝<span
                                                class="label label-primary pull-right r-activity">{{taobaoTuikuans.length}}</span></a>
                                        </li>
                                        <li><a href="/seller/tasks/tuikuan"> 天猫<span
                                                class="label label-primary pull-right r-activity">{{tmallTuikuans.length}}</span></a>
                                        </li>
                                        <li><a href="/seller/tasks/tuikuan"> 京东 <span
                                                class="label label-primary pull-right r-activity">{{jdTuikuans.length}}</span></a>
                                        </li>
                                    </ul>

                                </section>
                            </aside>
                            <!--widget end-->
                        </div>
                    </div>
                </div>
            </section>
            <section class="panel">
                <header class="panel-heading">
                    任务进展
                </header>
                <div class="panel-body">
                    <header class="panel-heading tab-bg-blue">
                        <ul class="nav nav-tabs nav-justified ">
                            <li class="active">
                                <a href="#doing" data-toggle="tab">
                                    进行中的任务
                                </a>
                            </li>
                            <li>
                                <a href="#done" data-toggle="tab">
                                    已完成的任务
                                </a>
                            </li>
                            <li class="">
                                <a href="#cancel" data-toggle="tab">
                                    已取消的任务
                                </a>
                            </li>
                            <li class="">
                                <a href="#all" data-toggle="tab">
                                    全部任务
                                </a>
                            </li>
                        </ul>
                    </header>
                    <div class="panel-body">
                        <div class="tab-content tasi-tab">
                            <div class="tab-pane active" id="doing">
                                <article class="media box" ng-repeat="doing in doings">
                                    <a class="pull-left thumb p-thumb">
                                        <img ng-src="{{doing.taobaoImage || doing.tmallImage || doing.jdImage}}">
                                    </a>

                                    <div class="media-body">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <span class=" p-head">{{doing.taskShopName}}</span>
                                            </div>
                                            <div class="col-lg-6">
                                            <span>
                                                任务编号： {{doing.taobaoTaskId || jdTaskId}}
                                                <a href="/seller/tasks/taskDetail?id={{doing.taobaoTaskId || jdTaskId}}">
                                                    [详情]
                                                </a>
                                                发布时间：{{doing.taskCreateTime | date: 'yyyy-MM-dd HH:mm'}}
                                            </span>
                                            <span class="pull-right"><a href="javascript:;;;" ng-click="upTaskFee(doing)">加赏</a> | <a href="javascript:;;;" ng-click="cancelTask(doing)">撤销</a></span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <span class="label label-primary">平台返款</span>
                                                {{doing.taskName}}
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        进行中({{doing.taskPcDoingCount + doing.taskPhoneDoingCount}})|未接单({{doing.taskTotalCount - doing.taskPcDoingCount - doing.taskPcDoneCount - doing.taskPhoneDoingCount - doing.taskPhoneDoneCount}})
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        已完成({{doing.taskPcDoneCount + doing.taskPhoneDoneCount}})|总单数({{doing.taskTotalCount}})
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <span>任务状态：{{statusMap.task[doing.taskStatus]}}</span>
                                                <a href="javascript:;;;" ng-click="repeatPublish(doing)" class="pull-right btn btn-warning">一键发布</a>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <div class="tab-pane" id="done">
                                <article class="media box" ng-repeat="done in dones">
                                    <a class="pull-left thumb p-thumb">
                                        <img ng-src="{{done.taobaoImage || done.tmallImage || done.jdImage}}">
                                    </a>

                                    <div class="media-body">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <span class=" p-head">{{done.taskShopName}}</span>
                                            </div>
                                            <div class="col-lg-6">
                                            <span>
                                                任务编号： {{done.taobaoTaskId || jdTaskId}}
                                                <a href="/seller/tasks/taskDetail?id={{done.taobaoTaskId || jdTaskId}}">
                                                    [详情]
                                                </a>
                                                发布时间：{{done.taskCreateTime | date: 'yyyy-MM-dd HH:mm'}}
                                            </span>
                                                <span class="pull-right"><a href="javascript:;;;" ng-click="upTaskFee(done)">加赏</a> | <a href="javascript:;;;" ng-click="cancelTask(done)">撤销</a></span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <span class="label label-primary">平台返款</span>
                                                {{done.taskName}}
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        进行中({{done.taskPcDoingCount + done.taskPhoneDoingCount}})|未接单({{done.taskTotalCount - done.taskPcDoingCount - done.taskPcDoneCount - done.taskPhoneDoingCount - done.taskPhoneDoneCount}})
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        已完成({{done.taskPcDoneCount + done.taskPhoneDoneCount}})|总单数({{done.taskTotalCount}})
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <span>任务状态：{{statusMap.task[done.taskStatus]}}</span>
                                                <a href="javascript:;;;" ng-click="repeatPublish(done)" class="pull-right btn btn-warning">一键发布</a>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <div class="tab-pane " id="cancel">
                                <article class="media box" ng-repeat="cancel in cancels">
                                    <a class="pull-left thumb p-thumb">
                                        <img ng-src="{{cancel.taobaoImage || cancel.tmallImage || cancel.jdImage}}">
                                    </a>

                                    <div class="media-body">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <span class=" p-head">{{cancel.taskShopName}}</span>
                                            </div>
                                            <div class="col-lg-6">
                                            <span>
                                                任务编号： {{cancel.taobaoTaskId || jdTaskId}}
                                                <a href="/seller/tasks/taskDetail?id={{cancel.taobaoTaskId || jdTaskId}}">
                                                    [详情]
                                                </a>
                                                发布时间：{{cancel.taskCreateTime | date: 'yyyy-MM-dd HH:mm'}}
                                            </span>
                                                <span class="pull-right"><a href="javascript:;;;" ng-click="upTaskFee(cancel)">加赏</a> | <a href="javascript:;;;" ng-click="cancelTask(cancel)">撤销</a></span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <span class="label label-primary">平台返款</span>
                                                {{cancel.taskName}}
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        进行中({{cancel.taskPcDoingCount + cancel.taskPhoneDoingCount}})|未接单({{cancel.taskTotalCount - cancel.taskPcDoingCount - cancel.taskPcDoneCount - cancel.taskPhoneDoingCount - cancel.taskPhoneDoneCount}})
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        已完成({{cancel.taskPcDoneCount + cancel.taskPhoneDoneCount}})|总单数({{cancel.taskTotalCount}})
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <span>任务状态：{{statusMap.task[cancel.taskStatus]}}</span>
                                                <a href="javascript:;;;" ng-click="repeatPublish(cancel)" class="pull-right btn btn-warning">一键发布</a>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <div class="tab-pane " id="all">
                                <article class="media box" ng-repeat="task in tasks">

                                    <a class="pull-left thumb p-thumb">
                                        <img ng-src="{{task.taobaoImage || task.tmallImage || task.jdImage}}">
                                    </a>

                                    <div class="media-body">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <span class=" p-head">{{task.taskShopName}}</span>
                                            </div>
                                            <div class="col-lg-6">
                                            <span>
                                                任务编号： {{task.taobaoTaskId || jdTaskId}}
                                                <a href="/seller/tasks/taskDetail?id={{task.taobaoTaskId || jdTaskId}}">
                                                    [详情]
                                                </a>
                                                发布时间：{{task.taskCreateTime | date: 'yyyy-MM-dd HH:mm'}}
                                            </span>
                                                <span ng-if="task.taskStatus == 3 || task.taskStatus == 2" class="pull-right"><a href="javascript:;;;" ng-click="upTaskFee(task)">加赏</a> | <a href="javascript:;;;" ng-click="cancelTask(task)">撤销</a></span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <span class="label label-primary">平台返款</span>
                                                {{task.taskName}}
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        进行中({{task.taskPcDoingCount + task.taskPhoneDoingCount}})|未接单({{task.taskTotalCount - task.taskPcDoingCount - task.taskPcDoneCount - task.taskPhoneDoingCount - task.taskPhoneDoneCount}})
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        已完成({{task.taskPcDoneCount + task.taskPhoneDoneCount}})|总单数({{task.taskTotalCount}})
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                            <span>任务状态：{{statusMap.task[task.taskStatus]}}</span>

                                                <a href="javascript:;;;" ng-click="repeatPublish(task)" class="pull-right btn btn-warning">一键发布</a>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </section>
    <a href="#myModal" data-toggle="modal" style="display: none" id="btn-add-extend-fee">一键加赏</a>
    <!-- Modal -->
    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">加赏任务</h4>
                </div>
                <div class="modal-body">
                    <p>请问您此任务每单加赏多少金币？</p>
                    <input ng-model="upTaskFeeCoin" type="text" placeholder="金币" autocomplete="off" class="form-control placeholder-no-fix">

                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default" id="btn-cancel" type="button">取消</button>
                    <button class="btn btn-info" ng-click="addExtendFee()" type="button">确定</button>
                </div>
            </div>
        </div>
    </div>
    <!-- modal -->
    <!--main content end-->
</section>
script:src
<% include ../common_footer.html %>
