<% include ./index_header.html %>
<section id="container" >
    <!--header start-->
    <header class="header white-bg">
        <!--logo start-->
        <a href="/" class="logo">一家<span>网</span></a>
        <!--logo end-->
    </header>
    <!--header end-->
    <!--main content start-->
    <section id="content">
        <section class="wrapper">
            <div class="row">
                <div class="col-lg-2">
                    <section class="panel">
                        <header class="panel-heading">
                            帮助中心
                        </header>
                        <div class="panel-body">
                            <h3>常见问题</h3>
                            <div class="border-bottom"></div>
                            <p><a href="">买手如何购买一家网会员？</a></p>
                        </div>
                    </section>
                </div>
            </div>
        </section>
    </section>
    <!--main content end-->
</section>
<% include ./index_footer.html %>
